In [55]:
library(ggplot2)
library(tidyverse)
library(broom)
library(dplyr)
womenwinning_df <- read.csv("officeholders_race_ethnicity.csv")

### Intial exploring

In [56]:
head(womenwinning_df)

  id      year first_name middle_name last_name party    level
1 566417k 2017 Kim        K.          Abbott    Democrat State Legislative
2 566417k 2018 Kim        K.          Abbott    Democrat State Legislative
3 566417k 2019 Kim        K.          Abbott    Democrat State Legislative
4 566417k 2020 Kim        K.          Abbott    Democrat State Legislative
5 14772c  2010 Robin      A.          Abbott    Democrat State Legislative
6 14772c  2011 Robin      A.          Abbott    Democrat State Legislative
  position             state         district race_ethnicity
1 State Representative Montana - MT  83       White
2 State Representative Montana - MT  83       White
3 State Representative Montana - MT  83       White
4 State Representative Montana - MT  83       White
5 State Representative Virginia - VA 93       White
6 State Representative Virginia - VA 93       White

In [57]:
table_of_race <- table(womenwinning_df["race_ethnicity"])
head(table_of_race)

                                     Asian/Pacific Islander
                                                        634
                                     Black/African American
                                                       3695
                                            Hispanic/Latina
                                                       1397
                               Middle Eastern/North African
                                                         22
                                                Multiracial
                                                         15
Multiracial, Black/African American, Asian/Pacific Islander
                                                         18

In [58]:
table_of_levels <- table(womenwinning_df["level"])
head(table_of_levels)

   Federal/Congress   State Legislative Statewide Executive    Territorial/D.C.
               1381               24540                1017                 112

In [59]:
table_of_positions <- table(womenwinning_df["position"])
head(table_of_positions)

             Agriculture         Attorney General                  Auditor
                       9                       98                      106
 Chief Financial Officer              Comptroller Corporation Commissioner
                       3                       40                       34

### Making a dataframe with only the State Legislators

In [60]:
state_leg_df <- womenwinning_df%>%filter(level == "State Legislative")
        
head(state_leg_df)

  id      year first_name middle_name last_name party    level
1 566417k 2017 Kim        K.          Abbott    Democrat State Legislative
2 566417k 2018 Kim        K.          Abbott    Democrat State Legislative
3 566417k 2019 Kim        K.          Abbott    Democrat State Legislative
4 566417k 2020 Kim        K.          Abbott    Democrat State Legislative
5 14772c  2010 Robin      A.          Abbott    Democrat State Legislative
6 14772c  2011 Robin      A.          Abbott    Democrat State Legislative
  position             state         district race_ethnicity
1 State Representative Montana - MT  83       White
2 State Representative Montana - MT  83       White
3 State Representative Montana - MT  83       White
4 State Representative Montana - MT  83       White
5 State Representative Virginia - VA 93       White
6 State Representative Virginia - VA 93       White

In [61]:
dim(state_leg_df)

[1] 24540    11

In [62]:
tbl_of_positions2 <- table(state_leg_df["position"])
print(tbl_of_positions2) #checking for cleanness

State Representative        State Senator
               18620                 5920

### Looking at Women by State, Year, Race, Region

In [63]:
tbl_by_state <- table(state_leg_df["state"]) #gotta convert this to a string, 
                                             #and then we could do percents too
print(tbl_by_state) #raw number based on location

       Alabama - AL         Alaska - AK        Arizona - AZ       Arkansas - AR
                262                 218                 428                 369
    California - CA       Colorado - CO    Connecticut - CT       Delaware - DE
                425                 542                 729                 202
       Florida - FL        Georgia - GA           Guam - GU         Hawaii - HI
                559                 750                  11                 316
         Idaho - ID       Illinois - IL        Indiana - IN           Iowa - IA
                392                 763                 423                 466
        Kansas - KS       Kentucky - KY      Louisiana - LA          Maine - ME
                596                 325                 280                 770
      Maryland - MD  Massachusetts - MA       Michigan - MI      Minnesota - MN
                805                 684                 467                 872
   Mississippi - MS       Missouri - MO        Montana - MT       Nebraska - NE
                354                 612                 542                 148
        Nevada - NV  New Hampshire - NH     New Jersey - NJ     New Mexico - NM
                293                1762                 481                 441
      New York - NY North Carolina - NC   North Dakota - ND           Ohio - OH
                718                 557                 331                 409
      Oklahoma - OK         Oregon - OR   Pennsylvania - PA    Puerto Rico - PR
                279                 388                 620                   9
  Rhode Island - RI South Carolina - SC   South Dakota - SD      Tennessee - TN
                416                 285                 292                 297
         Texas - TX           Utah - UT        Vermont - VT       Virginia - VA
                512                 266                 931                 373
    Washington - WA  West Virginia - WV      Wisconsin - WI        Wyoming - WY
                680                 278                 429                 183

In [64]:
state_leg_yr <- state_leg_df%>%
    group_by(year) %>%
    summarize(count = n())
print(state_leg_yr)

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 13 x 2
    year count
   <int> <int>
 1  2008  1782
 2  2009  1839
 3  2010  1844
 4  2011  1786
 5  2012  1778
 6  2013  1828
 7  2014  1829
 8  2015  1846
 9  2016  1828
10  2017  1893
11  2018  1914
12  2019  2169
13  2020  2204

In [65]:
state_leg_race <- state_leg_df%>%
    group_by(race_ethnicity == "White") %>%
    summarize(count = n())
print(state_leg_race)

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 2 x 2
  `race_ethnicity == "White"` count
  <lgl>                       <int>
1 FALSE                        5483
2 TRUE                        19057

In [66]:
state_leg_race <- state_leg_df%>%       #it's a little weird that "White" doesn't come up here?
group_by(race_ethnicity) %>%
    summarize(count = n())
print(state_leg_race)

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 21 x 2
   race_ethnicity                                              count
   <chr>                                                       <int>
 1 Asian/Pacific Islander                                        497
 2 Black/African American                                       3412
 3 Hispanic/Latina                                              1181
 4 Middle Eastern/North African                                   18
 5 Multiracial                                                    13
 6 Multiracial, Black/African American, Asian/Pacific Islander     2
 7 Multiracial, Black/African American, Hispanic/Latina           13
 8 Multiracial, Black/African American, Native American           13
 9 Multiracial, Hispanic/Latina, Asian/Pacific Islander           15
10 Multiracial, Hispanic/Latina, Native American                  10
# … with 11 more rows

In [67]:
head(state_leg_df)

  id      year first_name middle_name last_name party    level
1 566417k 2017 Kim        K.          Abbott    Democrat State Legislative
2 566417k 2018 Kim        K.          Abbott    Democrat State Legislative
3 566417k 2019 Kim        K.          Abbott    Democrat State Legislative
4 566417k 2020 Kim        K.          Abbott    Democrat State Legislative
5 14772c  2010 Robin      A.          Abbott    Democrat State Legislative
6 14772c  2011 Robin      A.          Abbott    Democrat State Legislative
  position             state         district race_ethnicity
1 State Representative Montana - MT  83       White
2 State Representative Montana - MT  83       White
3 State Representative Montana - MT  83       White
4 State Representative Montana - MT  83       White
5 State Representative Virginia - VA 93       White
6 State Representative Virginia - VA 93       White

In [76]:
states_northeast <- c("Connecticut - CT", "Delaware - DE", "Maine - ME", "Massachusetts - MA",
                      "New Hampshire - NH", "New Jersey - NJ", "New York - NY", "Pennsylvania - PA", 
                      "Rhode Island - RI", "Vermont - VT")
states_west <- c("Alaska - AK", "Arizona - AZ", "California - CA", "Colorado - CO", "Hawaii - HI", "Idaho - ID", "Nevada - NV", "Montana - MT",
                 "New Mexico - NM", "Oregon - OR", "Washington - WA", "Wyoming - WY")
states_midwest <- c("Indiana - IN", "Illinois - IL", "Iowa - IA", "Kansas - KS", "Michigan - MI", "Minnesota - MN", "Missouri - MO", 
                    "Nebraska - NE", "North Dakota - ND", "Ohio - OH", "South Dakota - SD", "Wisconsin - WI")
states_south <- c("Alabama - AL", "Arkansas - AR", 
                  "Florida - FL", "Georgia - GA", "Kentucky - KY", "Louisiana - LA", "Maryland - MD", "Mississippi - MS", 
                  "North Carolina - NC", "Oklahoma - OK", "South Carolina - SC", "Tennessee - TN", "Texas - TX", 
                  "Virginia - VA", "West Virginia - WV")


# Replace "dataset" with name of your dataset
state_leg_df <- state_leg_df %>%
  mutate(region = case_when(state %in% states_northeast ~ "Northeast",
                            state %in% states_west ~ "West",
                            state %in% states_midwest ~ "Midwest",
                            state %in% states_south ~ "South",
                            TRUE ~ "Other"))

head(state_leg_df)

  id      year first_name middle_name last_name party    level
1 566417k 2017 Kim        K.          Abbott    Democrat State Legislative
2 566417k 2018 Kim        K.          Abbott    Democrat State Legislative
3 566417k 2019 Kim        K.          Abbott    Democrat State Legislative
4 566417k 2020 Kim        K.          Abbott    Democrat State Legislative
5 14772c  2010 Robin      A.          Abbott    Democrat State Legislative
6 14772c  2011 Robin      A.          Abbott    Democrat State Legislative
  position             state         district race_ethnicity region
1 State Representative Montana - MT  83       White          West
2 State Representative Montana - MT  83       White          West
3 State Representative Montana - MT  83       White          West
4 State Representative Montana - MT  83       White          West
5 State Representative Virginia - VA 93       White          South
6 State Representative Virginia - VA 93       White          South

In [78]:
state_leg_region <- state_leg_df%>%
    group_by(region) %>%
    summarize(count = n())
print(state_leg_region)

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 5 x 2
  region    count
  <chr>     <int>
1 Midwest    5808
2 Northeast  7313
3 Other       286
4 South      6285
5 West       4848