In [20]:
library(dplyr)
womenwinning_df <- read.csv("officeholders_race_ethnicity.csv")

### Intial exploring

In [21]:
head(womenwinning_df)

  id      year first_name middle_name last_name party    level
1 566417k 2017 Kim        K.          Abbott    Democrat State Legislative
2 566417k 2018 Kim        K.          Abbott    Democrat State Legislative
3 566417k 2019 Kim        K.          Abbott    Democrat State Legislative
4 566417k 2020 Kim        K.          Abbott    Democrat State Legislative
5 14772c  2010 Robin      A.          Abbott    Democrat State Legislative
6 14772c  2011 Robin      A.          Abbott    Democrat State Legislative
  position             state         district race_ethnicity
1 State Representative Montana - MT  83       White
2 State Representative Montana - MT  83       White
3 State Representative Montana - MT  83       White
4 State Representative Montana - MT  83       White
5 State Representative Virginia - VA 93       White
6 State Representative Virginia - VA 93       White

In [38]:
table_of_race <- table(womenwinning_df["race_ethnicity"])
head(table_of_race)

                                     Asian/Pacific Islander
                                                        634
                                     Black/African American
                                                       3695
                                            Hispanic/Latina
                                                       1397
                               Middle Eastern/North African
                                                         22
                                                Multiracial
                                                         15
Multiracial, Black/African American, Asian/Pacific Islander
                                                         18

In [39]:
table_of_levels <- table(womenwinning_df["level"])
head(table_of_levels)

   Federal/Congress   State Legislative Statewide Executive    Territorial/D.C.
               1381               24540                1017                 112

In [40]:
table_of_positions <- table(race_df["position"])
head(table_of_positions)

             Agriculture         Attorney General                  Auditor
                       9                       98                      106
 Chief Financial Officer              Comptroller Corporation Commissioner
                       3                       40                       34

### Making a dataframe with only the State Legislators

In [55]:
state_leg_df <- womenwinning_df%>%filter(level == "State Legislative")
        
head(state_leg_df)

  id      year first_name middle_name last_name party    level
1 566417k 2017 Kim        K.          Abbott    Democrat State Legislative
2 566417k 2018 Kim        K.          Abbott    Democrat State Legislative
3 566417k 2019 Kim        K.          Abbott    Democrat State Legislative
4 566417k 2020 Kim        K.          Abbott    Democrat State Legislative
5 14772c  2010 Robin      A.          Abbott    Democrat State Legislative
6 14772c  2011 Robin      A.          Abbott    Democrat State Legislative
  position             state         district race_ethnicity
1 State Representative Montana - MT  83       White
2 State Representative Montana - MT  83       White
3 State Representative Montana - MT  83       White
4 State Representative Montana - MT  83       White
5 State Representative Virginia - VA 93       White
6 State Representative Virginia - VA 93       White

In [56]:
dim(state_leg_df)

[1] 24540    11

In [57]:
tbl_of_positions2 <- table(state_leg_df["position"])
print(tbl_of_positions2) #checking for cleanness

State Representative        State Senator
               18620                 5920

In [58]:
tbl_by_state <- table(state_leg_df["state"]) #gotta convert this to a string, 
                                             #and then we could do percents too
print(tbl_by_state) #raw number based on location

       Alabama - AL         Alaska - AK        Arizona - AZ       Arkansas - AR
                262                 218                 428                 369
    California - CA       Colorado - CO    Connecticut - CT       Delaware - DE
                425                 542                 729                 202
       Florida - FL        Georgia - GA           Guam - GU         Hawaii - HI
                559                 750                  11                 316
         Idaho - ID       Illinois - IL        Indiana - IN           Iowa - IA
                392                 763                 423                 466
        Kansas - KS       Kentucky - KY      Louisiana - LA          Maine - ME
                596                 325                 280                 770
      Maryland - MD  Massachusetts - MA       Michigan - MI      Minnesota - MN
                805                 684                 467                 872
   Mississippi - MS       Missouri - MO        Montana - MT       Nebraska - NE
                354                 612                 542                 148
        Nevada - NV  New Hampshire - NH     New Jersey - NJ     New Mexico - NM
                293                1762                 481                 441
      New York - NY North Carolina - NC   North Dakota - ND           Ohio - OH
                718                 557                 331                 409
      Oklahoma - OK         Oregon - OR   Pennsylvania - PA    Puerto Rico - PR
                279                 388                 620                   9
  Rhode Island - RI South Carolina - SC   South Dakota - SD      Tennessee - TN
                416                 285                 292                 297
         Texas - TX           Utah - UT        Vermont - VT       Virginia - VA
                512                 266                 931                 373
    Washington - WA  West Virginia - WV      Wisconsin - WI        Wyoming - WY
                680                 278                 429                 183

In [59]:
tbl_by_year <- table(state_leg_df["year"])
print(tbl_by_year) #um houston we have a problem... "2169, 2204..."

2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020
1782 1839 1844 1786 1778 1828 1829 1846 1828 1893 1914 2169 2204

In [62]:
yearframe <- c(2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018)

In [63]:
print(yearframe)

 [1] 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018

In [67]:
state_leg_df2 <- state_leg_df%>%filter(year == yearframe)
head(state_leg_df2)
dim(state_leg_df2)

Warning message in year == yearframe:
“longer object length is not a multiple of shorter object length”

  id      year first_name middle_name last_name party    level
1 196595k 2008 Alma       S.          Adams     Democrat State Legislative
2 196595k 2009 Alma       S.          Adams     Democrat State Legislative
3 196595k 2010 Alma       S.          Adams     Democrat State Legislative
4 196595k 2011 Alma       S.          Adams     Democrat State Legislative
5 196595k 2012 Alma       S.          Adams     Democrat State Legislative
6 196595k 2013 Alma       S.          Adams     Democrat State Legislative
  position             state               district race_ethnicity
1 State Representative North Carolina - NC 58       Black/African American
2 State Representative North Carolina - NC 58       Black/African American
3 State Representative North Carolina - NC 58       Black/African American
4 State Representative North Carolina - NC 58       Black/African American
5 State Representative North Carolina - NC 58       Black/African American
6 State Representative North Carolina - NC 58       Black/African American

[1] 1779   11

In [68]:
tbl_by_year <- table(state_leg_df2["year"])
print(tbl_by_year)

2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
 155  158  155  158  155  163  160  163  159  172  181