In [55]:
## Packages
library(dplyr)
library(stringr)
library(broom)
library(ggplot2)
library (tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ tibble  3.0.3     ✔ purrr   0.3.4
✔ tidyr   1.1.2     ✔ forcats 0.5.0
✔ readr   1.3.1

Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [56]:
## Read data in, change path as necessary


elections_2016 <- read.csv("2016_election_results_wide.csv")
elections_2016_long <- read.csv("2016_election_results_long.csv")
elections_2018 <- read.csv("2018_election_results_wide.csv")
elections_2018_long <- read.csv("2018_election_results_long.csv")

In [57]:

elections_2016_long %>%
    filter(candidate_party == "Democrat", gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 

#Democrats running in 2016, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female 1050  0.3736655
2 male   1760  0.6263345

In [58]:

elections_2016_long %>%
    filter(candidate_party == "Republican", gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 


#Republicans running in 2016, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female  605  0.2113906
2 male   2257  0.7886094

In [59]:
elections_2016_long %>%
    filter(gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 

#Overall running in 2016, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female 1655  0.2917842
2 male   4017  0.7082158

In [60]:
elections_2018_long %>%
    filter(candidate_party == "Democrat", gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 

#Democrats running in 2018, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female 2062  0.4605763
2 male   2415  0.5394237

In [61]:
elections_2018_long %>%
    filter(candidate_party == "Republican", gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 
#Republicans running in 2018, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female  926  0.2164057
2 male   3353  0.7835943

In [62]:
elections_2018_long %>%
    filter(gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 

#Overall running in 2018, numbers by gender
#run a hypothesis test/regression on the overall numbers? ?

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female 2988  0.3412517
2 male   5768  0.6587483

In [63]:
table_dem <- elections_2016_long %>%
    filter(candidate_party == "Democrat", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    group_by (state, .add = TRUE) %>%
    mutate(gender_prop = (count/sum(count)))
           
           
table_dem[1:50,]
table_dem[51:75,]
           
#2016 proportion of dem candidates by gender and state (32.2 percent of candidates in Alaska were female, etc.)
#did this indexing to see the whole thing---easier way??

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state          gender count gender_prop
1  Alaska         female  10   0.3225806
2  Alaska         male    21   0.6774194
3  Arkansas       female  11   0.2391304
4  Arkansas       male    35   0.7608696
5  California     female  22   0.3055556
6  California     male    50   0.6944444
7  Colorado       female  26   0.4482759
8  Colorado       male    32   0.5517241
9  Connecticut    female  41   0.3228346
10 Connecticut    male    86   0.6771654
11 Delaware       female  12   0.3750000
12 Delaware       male    20   0.6250000
13 Florida        female  28   0.3373494
14 Florida        male    55   0.6626506
15 Georgia        female  37   0.4683544
16 Georgia        male    42   0.5316456
17 Hawaii         female  13   0.2765957
18 Hawaii         male    34   0.7234043
19 Idaho          female  21   0.4666667
20 Idaho          male    24   0.5333333
21 Illinois       female  47   0.5222222
22 Illinois       male    43   0.4777778
23 Indiana        female  32   0.3902439
24 Indiana        male    50   0.6097561
25 Iowa           female  38   0.4418605
26 Iowa           male    48   0.5581395
27 Kansas         female  40   0.4545455
28 Kansas         male    48   0.5454545
29 Kentucky       female  17   0.2297297
30 Kentucky       male    57   0.7702703
31 Maine          female  61   0.4357143
32 Maine          male    79   0.5642857
33 Massachusetts  female  34   0.2481752
34 Massachusetts  male   103   0.7518248
35 Michigan       female  40   0.3636364
36 Michigan       male    70   0.6363636
37 Minnesota      female  61   0.4692308
38 Minnesota      male    69   0.5307692
39 Missouri       female  32   0.3333333
40 Missouri       male    64   0.6666667
41 Montana        female  43   0.4777778
42 Montana        male    47   0.5222222
43 Nevada         female  13   0.3714286
44 Nevada         male    22   0.6285714
45 New Mexico     female  21   0.4200000
46 New Mexico     male    29   0.5800000
47 North Carolina female  32   0.3555556
48 North Carolina male    58   0.6444444
49 Ohio           female  27   0.3417722
50 Ohio           male    52   0.6582278

   state          gender count gender_prop
1  Oklahoma       female  22   0.2820513
2  Oklahoma       male    56   0.7179487
3  Oregon         female  21   0.4117647
4  Oregon         male    30   0.5882353
5  Pennsylvania   female  40   0.2702703
6  Pennsylvania   male   108   0.7297297
7  Rhode Island   female  24   0.3428571
8  Rhode Island   male    46   0.6571429
9  South Carolina female  15   0.2419355
10 South Carolina male    47   0.7580645
11 Tennessee      female  26   0.4062500
12 Tennessee      male    38   0.5937500
13 Texas          female  36   0.4137931
14 Texas          male    51   0.5862069
15 Utah           female  23   0.4339623
16 Utah           male    30   0.5660377
17 Washington     female  39   0.5270270
18 Washington     male    35   0.4729730
19 Wisconsin      female  25   0.3246753
20 Wisconsin      male    52   0.6753247
21 Wyoming        female  20   0.4081633
22 Wyoming        male    29   0.5918367
23 NA             NA      NA          NA
24 NA             NA      NA          NA
25 NA             NA      NA          NA

In [93]:
table_rep <- elections_2016_long %>%
    filter(candidate_party == "Republican", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    mutate(gender_prop = (count/sum(count)))

table_rep[1:50,]
table_rep[51:75,]

#2016 proportion of repub candidates by gender and state

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state          gender count gender_prop
1  Alaska         female  13   0.4193548
2  Alaska         male    18   0.5806452
3  Arkansas       female  18   0.2337662
4  Arkansas       male    59   0.7662338
5  California     female  12   0.1875000
6  California     male    52   0.8125000
7  Colorado       female  17   0.2982456
8  Colorado       male    40   0.7017544
9  Connecticut    female  29   0.2248062
10 Connecticut    male   100   0.7751938
11 Delaware       female   5   0.2173913
12 Delaware       male    18   0.7826087
13 Florida        female  18   0.2000000
14 Florida        male    72   0.8000000
15 Georgia        female  22   0.1732283
16 Georgia        male   105   0.8267717
17 Hawaii         female  11   0.4230769
18 Hawaii         male    15   0.5769231
19 Idaho          female  20   0.3030303
20 Idaho          male    46   0.6969697
21 Illinois       female  18   0.2465753
22 Illinois       male    55   0.7534247
23 Indiana        female  12   0.1428571
24 Indiana        male    72   0.8571429
25 Iowa           female  15   0.1898734
26 Iowa           male    64   0.8101266
27 Kansas         female  24   0.2330097
28 Kansas         male    79   0.7669903
29 Kentucky       female  17   0.2023810
30 Kentucky       male    67   0.7976190
31 Maine          female  30   0.2238806
32 Maine          male   104   0.7761194
33 Massachusetts  female  16   0.3265306
34 Massachusetts  male    33   0.6734694
35 Michigan       female  24   0.2181818
36 Michigan       male    86   0.7818182
37 Minnesota      female  36   0.2748092
38 Minnesota      male    95   0.7251908
39 Missouri       female  25   0.1953125
40 Missouri       male   103   0.8046875
41 Montana        female  18   0.2142857
42 Montana        male    66   0.7857143
43 Nevada         female  12   0.3076923
44 Nevada         male    27   0.6923077
45 New Mexico     female  12   0.2790698
46 New Mexico     male    31   0.7209302
47 North Carolina female  19   0.2159091
48 North Carolina male    69   0.7840909
49 Ohio           female  20   0.2222222
50 Ohio           male    70   0.7777778

   state          gender count gender_prop
1  Oklahoma       female  14   0.15384615
2  Oklahoma       male    77   0.84615385
3  Oregon         female  13   0.27659574
4  Oregon         male    34   0.72340426
5  Pennsylvania   female  30   0.19867550
6  Pennsylvania   male   121   0.80132450
7  Rhode Island   female   6   0.24000000
8  Rhode Island   male    19   0.76000000
9  South Carolina female   7   0.08235294
10 South Carolina male    78   0.91764706
11 Tennessee      female  12   0.14814815
12 Tennessee      male    69   0.85185185
13 Texas          female  14   0.12962963
14 Texas          male    94   0.87037037
15 Utah           female  11   0.15942029
16 Utah           male    58   0.84057971
17 Washington     female  18   0.25352113
18 Washington     male    53   0.74647887
19 Wisconsin      female  13   0.18571429
20 Wisconsin      male    57   0.81428571
21 Wyoming        female   4   0.07272727
22 Wyoming        male    51   0.92727273
23 NA             NA      NA           NA
24 NA             NA      NA           NA
25 NA             NA      NA           NA

In [94]:
table_overall <- elections_2016_long %>%
    filter(gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    mutate(gender_prop = (count/sum(count)))

table_overall[1:50,]
table_overall[51:75,]

#2016 proportion of overall candidates by gender and state

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state          gender count gender_prop
1  Alaska         female  23   0.3709677
2  Alaska         male    39   0.6290323
3  Arkansas       female  29   0.2357724
4  Arkansas       male    94   0.7642276
5  California     female  34   0.2500000
6  California     male   102   0.7500000
7  Colorado       female  43   0.3739130
8  Colorado       male    72   0.6260870
9  Connecticut    female  70   0.2734375
10 Connecticut    male   186   0.7265625
11 Delaware       female  17   0.3090909
12 Delaware       male    38   0.6909091
13 Florida        female  46   0.2658960
14 Florida        male   127   0.7341040
15 Georgia        female  59   0.2864078
16 Georgia        male   147   0.7135922
17 Hawaii         female  24   0.3287671
18 Hawaii         male    49   0.6712329
19 Idaho          female  41   0.3693694
20 Idaho          male    70   0.6306306
21 Illinois       female  65   0.3987730
22 Illinois       male    98   0.6012270
23 Indiana        female  44   0.2650602
24 Indiana        male   122   0.7349398
25 Iowa           female  53   0.3212121
26 Iowa           male   112   0.6787879
27 Kansas         female  64   0.3350785
28 Kansas         male   127   0.6649215
29 Kentucky       female  34   0.2151899
30 Kentucky       male   124   0.7848101
31 Maine          female  91   0.3321168
32 Maine          male   183   0.6678832
33 Massachusetts  female  50   0.2688172
34 Massachusetts  male   136   0.7311828
35 Michigan       female  64   0.2909091
36 Michigan       male   156   0.7090909
37 Minnesota      female  97   0.3716475
38 Minnesota      male   164   0.6283525
39 Missouri       female  57   0.2544643
40 Missouri       male   167   0.7455357
41 Montana        female  61   0.3505747
42 Montana        male   113   0.6494253
43 Nevada         female  25   0.3378378
44 Nevada         male    49   0.6621622
45 New Mexico     female  33   0.3548387
46 New Mexico     male    60   0.6451613
47 North Carolina female  51   0.2865169
48 North Carolina male   127   0.7134831
49 Ohio           female  47   0.2781065
50 Ohio           male   122   0.7218935

   state          gender count gender_prop
1  Oklahoma       female  36   0.2130178
2  Oklahoma       male   133   0.7869822
3  Oregon         female  34   0.3469388
4  Oregon         male    64   0.6530612
5  Pennsylvania   female  70   0.2341137
6  Pennsylvania   male   229   0.7658863
7  Rhode Island   female  30   0.3157895
8  Rhode Island   male    65   0.6842105
9  South Carolina female  22   0.1496599
10 South Carolina male   125   0.8503401
11 Tennessee      female  38   0.2620690
12 Tennessee      male   107   0.7379310
13 Texas          female  50   0.2564103
14 Texas          male   145   0.7435897
15 Utah           female  34   0.2786885
16 Utah           male    88   0.7213115
17 Washington     female  57   0.3931034
18 Washington     male    88   0.6068966
19 Wisconsin      female  38   0.2585034
20 Wisconsin      male   109   0.7414966
21 Wyoming        female  24   0.2307692
22 Wyoming        male    80   0.7692308
23 NA             NA      NA          NA
24 NA             NA      NA          NA
25 NA             NA      NA          NA

In [95]:
table_dem_2018 <- elections_2018_long %>%
    filter(candidate_party == "Democrat", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    mutate(gender_prop = (count/sum(count)))
           
           
table_dem_2018[1:50,]
table_dem_2018[51:74,]

#doing the same for 2018

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state         gender count gender_prop
1  Alabama       female  40   0.4444444
2  Alabama       male    50   0.5555556
3  Alaska        female  20   0.4545455
4  Alaska        male    24   0.5454545
5  Arizona       female  45   0.5555556
6  Arizona       male    36   0.4444444
7  Arkansas      female  12   0.3076923
8  Arkansas      male    27   0.6923077
9  California    female  44   0.4000000
10 California    male    66   0.6000000
11 Colorado      female  34   0.5573770
12 Colorado      male    27   0.4426230
13 Connecticut   female  71   0.3922652
14 Connecticut   male   110   0.6077348
15 Delaware      female  16   0.3809524
16 Delaware      male    26   0.6190476
17 Florida       female  49   0.5157895
18 Florida       male    46   0.4842105
19 Georgia       female  81   0.5436242
20 Georgia       male    68   0.4563758
21 Hawaii        female  10   0.4000000
22 Hawaii        male    15   0.6000000
23 Idaho         female  26   0.4406780
24 Idaho         male    33   0.5593220
25 Illinois      female  68   0.4892086
26 Illinois      male    71   0.5107914
27 Indiana       female  42   0.4038462
28 Indiana       male    62   0.5961538
29 Iowa          female  57   0.4871795
30 Iowa          male    60   0.5128205
31 Kansas        female  34   0.3820225
32 Kansas        male    55   0.6179775
33 Kentucky      female  50   0.4716981
34 Kentucky      male    56   0.5283019
35 Louisiana     female   2   0.6666667
36 Louisiana     male     1   0.3333333
37 Maine         female  86   0.5088757
38 Maine         male    83   0.4911243
39 Maryland      female  19   0.4418605
40 Maryland      male    24   0.5581395
41 Massachusetts female  59   0.3224044
42 Massachusetts male   124   0.6775956
43 Michigan      female  74   0.5000000
44 Michigan      male    74   0.5000000
45 Missouri      female  68   0.4223602
46 Missouri      male    93   0.5776398
47 Montana       female  53   0.5196078
48 Montana       male    49   0.4803922
49 Nevada        female  31   0.6595745
50 Nevada        male    16   0.3404255

   state          gender count gender_prop
1  New Hampshire  female 192   0.4740741
2  New Hampshire  male   213   0.5259259
3  New Mexico     female  29   0.5178571
4  New Mexico     male    27   0.4821429
5  New York       female  68   0.3820225
6  New York       male   110   0.6179775
7  North Carolina female  55   0.4621849
8  North Carolina male    64   0.5378151
9  Ohio           female  52   0.4642857
10 Ohio           male    60   0.5357143
11 Oklahoma       female  41   0.4767442
12 Oklahoma       male    45   0.5232558
13 Oregon         female  39   0.5342466
14 Oregon         male    34   0.4657534
15 Pennsylvania   female  82   0.4226804
16 Pennsylvania   male   112   0.5773196
17 Rhode Island   female  41   0.3904762
18 Rhode Island   male    64   0.6095238
19 South Carolina female  19   0.5000000
20 South Carolina male    19   0.5000000
21 South Dakota   female  41   0.4183673
22 South Dakota   male    57   0.5816327
23 Tennessee      female  35   0.3535354
24 Tennessee      male    64   0.6464646

In [100]:
table_rep_2018 <- elections_2018_long %>%
    filter(candidate_party == "Republican", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    mutate(gender_prop = (count/sum(count)))
           
           
table_rep_2018[1:50,]
table_rep_2018[51:74,]

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state         gender count gender_prop
1  Alabama       female  13   0.1250000
2  Alabama       male    91   0.8750000
3  Alaska        female  14   0.3500000
4  Alaska        male    26   0.6500000
5  Arizona       female  22   0.3384615
6  Arizona       male    43   0.6615385
7  Arkansas      female  10   0.2325581
8  Arkansas      male    33   0.7674419
9  California    female  19   0.2676056
10 California    male    52   0.7323944
11 Colorado      female  17   0.2982456
12 Colorado      male    40   0.7017544
13 Connecticut   female  44   0.2682927
14 Connecticut   male   120   0.7317073
15 Delaware      female   7   0.1891892
16 Delaware      male    30   0.8108108
17 Florida       female  20   0.2040816
18 Florida       male    78   0.7959184
19 Georgia       female  33   0.2012195
20 Georgia       male   131   0.7987805
21 Hawaii        female  10   0.4545455
22 Hawaii        male    12   0.5454545
23 Idaho         female  23   0.2300000
24 Idaho         male    77   0.7700000
25 Illinois      female  24   0.2424242
26 Illinois      male    75   0.7575758
27 Indiana       female  16   0.1553398
28 Indiana       male    87   0.8446602
29 Iowa          female  21   0.2234043
30 Iowa          male    73   0.7765957
31 Kansas        female  23   0.2421053
32 Kansas        male    72   0.7578947
33 Kentucky      female  21   0.2019231
34 Kentucky      male    83   0.7980769
35 Louisiana     female   1   0.2000000
36 Louisiana     male     4   0.8000000
37 Maine         female  44   0.2682927
38 Maine         male   120   0.7317073
39 Maryland      female   6   0.1764706
40 Maryland      male    28   0.8235294
41 Massachusetts female  17   0.2297297
42 Massachusetts male    57   0.7702703
43 Michigan      female  47   0.3175676
44 Michigan      male   101   0.6824324
45 Minnesota     female  36   0.2748092
46 Minnesota     male    95   0.7251908
47 Missouri      female  31   0.2094595
48 Missouri      male   117   0.7905405
49 Montana       female  17   0.1683168
50 Montana       male    84   0.8316832

   state          gender count gender_prop
1  Nevada         female  15   0.36585366
2  Nevada         male    26   0.63414634
3  New Hampshire  female  74   0.20555556
4  New Hampshire  male   286   0.79444444
5  New Mexico     female  14   0.31111111
6  New Mexico     male    31   0.68888889
7  New York       female  27   0.19014085
8  New York       male   115   0.80985915
9  North Carolina female  26   0.22413793
10 North Carolina male    90   0.77586207
11 North Dakota   female  17   0.24637681
12 North Dakota   male    52   0.75362319
13 Ohio           female  17   0.16504854
14 Ohio           male    86   0.83495146
15 Oklahoma       female  17   0.18888889
16 Oklahoma       male    73   0.81111111
17 Oregon         female  15   0.28846154
18 Oregon         male    37   0.71153846
19 Pennsylvania   female  38   0.23602484
20 Pennsylvania   male   123   0.76397516
21 Rhode Island   female  14   0.29787234
22 Rhode Island   male    33   0.70212766
23 South Carolina female   5   0.09090909
24 South Carolina male    50   0.90909091

In [101]:
table_overall_2018 <- elections_2018_long %>%
    filter(gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    mutate(gender_prop = (count/sum(count)))
           
           
table_overall_2018[1:50,]
table_overall_2018[51:74,]

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state         gender count gender_prop
1  Alabama       female  53   0.2731959
2  Alabama       male   141   0.7268041
3  Alaska        female  34   0.4047619
4  Alaska        male    50   0.5952381
5  Arizona       female  67   0.4589041
6  Arizona       male    79   0.5410959
7  Arkansas      female  22   0.2682927
8  Arkansas      male    60   0.7317073
9  California    female  63   0.3480663
10 California    male   118   0.6519337
11 Colorado      female  51   0.4322034
12 Colorado      male    67   0.5677966
13 Connecticut   female 115   0.3333333
14 Connecticut   male   230   0.6666667
15 Delaware      female  23   0.2911392
16 Delaware      male    56   0.7088608
17 Florida       female  69   0.3575130
18 Florida       male   124   0.6424870
19 Georgia       female 114   0.3642173
20 Georgia       male   199   0.6357827
21 Hawaii        female  20   0.4255319
22 Hawaii        male    27   0.5744681
23 Idaho         female  49   0.3081761
24 Idaho         male   110   0.6918239
25 Illinois      female  92   0.3865546
26 Illinois      male   146   0.6134454
27 Indiana       female  58   0.2801932
28 Indiana       male   149   0.7198068
29 Iowa          female  78   0.3696682
30 Iowa          male   133   0.6303318
31 Kansas        female  57   0.3097826
32 Kansas        male   127   0.6902174
33 Kentucky      female  71   0.3380952
34 Kentucky      male   139   0.6619048
35 Louisiana     female   3   0.3750000
36 Louisiana     male     5   0.6250000
37 Maine         female 130   0.3903904
38 Maine         male   203   0.6096096
39 Maryland      female  25   0.3246753
40 Maryland      male    52   0.6753247
41 Massachusetts female  76   0.2957198
42 Massachusetts male   181   0.7042802
43 Michigan      female 121   0.4087838
44 Michigan      male   175   0.5912162
45 Minnesota     female  36   0.2748092
46 Minnesota     male    95   0.7251908
47 Missouri      female  99   0.3203883
48 Missouri      male   210   0.6796117
49 Montana       female  70   0.3448276
50 Montana       male   133   0.6551724

   state          gender count gender_prop
1  Nevada         female  46   0.5227273
2  Nevada         male    42   0.4772727
3  New Hampshire  female 266   0.3477124
4  New Hampshire  male   499   0.6522876
5  New Mexico     female  43   0.4257426
6  New Mexico     male    58   0.5742574
7  New York       female  95   0.2968750
8  New York       male   225   0.7031250
9  North Carolina female  81   0.3446809
10 North Carolina male   154   0.6553191
11 North Dakota   female  17   0.2463768
12 North Dakota   male    52   0.7536232
13 Ohio           female  69   0.3209302
14 Ohio           male   146   0.6790698
15 Oklahoma       female  58   0.3295455
16 Oklahoma       male   118   0.6704545
17 Oregon         female  54   0.4320000
18 Oregon         male    71   0.5680000
19 Pennsylvania   female 120   0.3380282
20 Pennsylvania   male   235   0.6619718
21 Rhode Island   female  55   0.3618421
22 Rhode Island   male    97   0.6381579
23 South Carolina female  24   0.2580645
24 South Carolina male    69   0.7419355

In [69]:
reg_2018 <- lm (vote_prop~ state+ district + office + candidate_party+ race_ethnicity+ gender, elections_2018_long  %>% filter (gender %in% c("male", "female"), !(race_ethnicity %in% c("Missing")), vote_prop !=1, vote_prop != 0))
tidy (reg_2018)

#regression looking at effect of gender on voting share in 2018, not in unopposed races

    term
1   (Intercept)
2   stateAlaska
3   stateArizona
4   stateArkansas
5   stateCalifornia
6   stateColorado
7   stateConnecticut
8   stateDelaware
9   stateFlorida
10  stateGeorgia
11  stateHawaii
12  stateIdaho
13  stateIllinois
14  stateIndiana
15  stateIowa
16  stateKansas
17  stateKentucky
18  stateMaine
19  stateMaryland
20  stateMassachusetts
21  stateMichigan
22  stateMinnesota
23  stateMissouri
24  stateMontana
25  stateNevada
26  stateNew Hampshire
27  stateNew Mexico
28  stateNew York
29  stateNorth Carolina
30  stateNorth Dakota
⋮   ⋮
335 districtWashington-Chittenden
336 districtWindham-1
337 districtWindham-2-1
338 districtWindham-2-2
339 districtWindham-2-3
340 districtWindham-3
341 districtWindham-4
342 districtWindham-5
343 districtWindham-6
344 districtWindham-Bennington
345 districtWindham-Bennington-Windsor
346 officeState Representative
347 officeState Representative A
348 officeState Representative B
349 officeState Senator
350 candidate_partyRepublican
351 race_ethnicityBlack/African American
352 race_ethnicityHispanic/Latina
353 race_ethnicityMiddle Eastern/North African
354 race_ethnicityMultiracial
355 race_ethnicityMultiracial, Hispanic/Latina, Asian/Pacific Islander
356 race_ethnicityMultiracial, White/Caucasian, Asian/Pacific Islander
357 race_ethnicityMultiracial, White/Caucasian, Black/African American
358 race_ethnicityMultiracial, White/Caucasian, Hispanic/Latina
359 race_ethnicityMultiracial, White/Caucasian, Native American
360 race_ethnicityNative American
361 race_ethnicityOther
362 race_ethnicityUnavailable
363 race_ethnicityWhite
364 gendermale
    estimate     std.error  statistic  p.value
1    0.47577749  0.13685190  3.4765866 0.0005522677
2   -0.07889445  0.07234128 -1.0905868 0.2759821163
3   -0.06228473  0.05922827 -1.0516047 0.2934909417
4   -0.04250695  0.06641593 -0.6400115 0.5224594781
5   -0.02971357  0.06635034 -0.4478284 0.6544718213
6   -0.05587873  0.05857927 -0.9538994 0.3405973525
7   -0.08597328  0.05679364 -1.5137834 0.1307151460
8    0.01933875  0.07182255  0.2692574 0.7878431505
9   -0.09139016  0.05940207 -1.5385014 0.1245611708
10  -0.10506591  0.05959358 -1.7630408 0.0785068748
11  -0.03151904  0.08675273 -0.3633204 0.7165197307
12   0.01890113  0.07365571  0.2566146 0.7975823040
13  -0.09364536  0.05993227 -1.5625200 0.1188007530
14  -0.06587077  0.06237091 -1.0561137 0.2914283517
15  -0.04375326  0.05784204 -0.7564266 0.4497511306
16  -0.07612218  0.06152260 -1.2373045 0.2165571607
17  -0.04861540  0.06093619 -0.7978082 0.4253620395
18  -0.03559326  0.06199806 -0.5741027 0.5661574812
19  -0.02367712  0.07744616 -0.3057237 0.7599428025
20   0.22335919  0.16419934  1.3602928 0.1743526770
21  -0.03461639  0.05615730 -0.6164183 0.5379001530
22   0.08453686  0.16315325  0.5181439 0.6045880053
23  -0.01093430  0.05838011 -0.1872949 0.8515057078
24  -0.02631191  0.05974214 -0.4404247 0.6598206544
25  -0.03344323  0.06762097 -0.4945689 0.6211225757
26  -0.06008577  0.06761128 -0.8886946 0.3745962920
27  -0.07405509  0.08594379 -0.8616689 0.3892844412
28   0.06351870  0.06628647  0.9582454 0.3384039935
29  -0.08759275  0.05921896 -1.4791336 0.1397368722
30  -0.03651821  0.07118738 -0.5129872 0.6081877803
⋮   ⋮            ⋮          ⋮          ⋮
335 -0.179334424 0.09611167 -1.8658965 0.0626435076
336  0.070713823 0.09587595  0.7375554 0.4611320557
337  0.166663718 0.10523669  1.5837035 0.1138960045
338  0.218969347 0.10523669  2.0807320 0.0379689667
339  0.231670748 0.10523669  2.2014256 0.0281638400
340  0.120061904 0.10523669  1.1408750 0.2544702975
341  0.196144203 0.10523669  1.8638386 0.0629326315
342  0.156477013 0.10523669  1.4869055 0.1376726081
343  0.054121252 0.10523669  0.5142812 0.6072835361
344  0.079536172 0.10523669  0.7557837 0.4501362378
345  0.058335358 0.10523669  0.5543253 0.5796050874
346  0.040535183 0.03848914  1.0531589 0.2927788839
347 -0.041267069 0.09005882 -0.4582235 0.6469917617
348  0.020534979 0.07619622  0.2695013 0.7876555854
349  0.022742174 0.03674568  0.6189075 0.5362603174
350 -0.005731039 0.01090699 -0.5254462 0.5995069179
351  0.150411650 0.03871082  3.8855199 0.0001159119
352  0.111342857 0.04014944  2.7732108 0.0057587993
353  0.035254912 0.12090026  0.2916033 0.7707113996
354  0.173725902 0.11804404  1.4717041 0.1417324191
355  0.061644761 0.12805315  0.4813998 0.6304438332
356  0.069539652 0.10009889  0.6947095 0.4875613302
357 -0.085791387 0.12563601 -0.6828567 0.4950149527
358  0.031841305 0.09475830  0.3360266 0.7369923688
359 -0.028664094 0.07709093 -0.3718219 0.7101836413
360 -0.041450428 0.06051266 -0.6849877 0.4936703531
361  0.134087729 0.13571513  0.9880087 0.3236281555
362 -0.038492117 0.08782148 -0.4382995 0.6613592171
363  0.025540413 0.03553635  0.7187123 0.4726552800
364  0.017865755 0.03773568  0.4734446 0.6361035008

In [70]:
reg_2016 <- lm (vote_prop~ state+district+incumbent+ candidate_party+ race_ethnicity+ gender, elections_2016_long  %>% filter (gender %in% c("male", "female"), !(race_ethnicity %in% c("Missing")), vote_prop !=1, vote_prop != 0))
tidy (reg_2016)

#regression looking at effect of gender on voting share in 2016, not in unopposed races

    term
1   (Intercept)
2   stateArkansas
3   stateCalifornia
4   stateColorado
5   stateConnecticut
6   stateDelaware
7   stateFlorida
8   stateGeorgia
9   stateHawaii
10  stateIdaho
11  stateIllinois
12  stateIndiana
13  stateIowa
14  stateKansas
15  stateKentucky
16  stateMaine
17  stateMassachusetts
18  stateMichigan
19  stateMinnesota
20  stateMissouri
21  stateMontana
22  stateNevada
23  stateNew Mexico
24  stateNorth Carolina
25  stateOhio
26  stateOklahoma
27  stateOregon
28  statePennsylvania
29  stateRhode Island
30  stateSouth Carolina
⋮   ⋮
261 district96
262 district97
263 district98
264 district99
265 district9a
266 district9B
267 districtEleventh Suffolk
268 districtFirst Middlesex
269 districtFourteenth Bristol
270 districtFourteenth Middlesex
271 districtFourth Middlesex
272 districtFourth Worcester
273 districtSecond Plymouth
274 districtSeventeenth Worcester
275 districtThird Berkshire
276 districtThird Bristol
277 districtThird Hampden
278 districtThird Plymouth
279 districtTwenty-seventh Middlesex
280 incumbentTrue
281 candidate_partyRepublican
282 race_ethnicityBlack/African American
283 race_ethnicityHispanic/Latina
284 race_ethnicityMultiracial
285 race_ethnicityMultiracial, White/Caucasian, Asian/Pacific Islander
286 race_ethnicityMultiracial, White/Caucasian, Black/African American
287 race_ethnicityMultiracial, White/Caucasian, Native American
288 race_ethnicityNative American
289 race_ethnicityWhite
290 gendermale
    estimate      std.error  statistic    p.value
1    0.6842482115 0.08431801  8.115089215 1.002377e-14
2   -0.0617158939 0.06242640 -0.988618444 3.235830e-01
3   -0.0254699057 0.05436064 -0.468535787 6.397146e-01
4    0.0122653546 0.04905396  0.250037999 8.027155e-01
5    0.0530812556 0.04971782  1.067650550 2.864681e-01
6    0.0673734734 0.07326130  0.919632498 3.584448e-01
7    0.0124637782 0.05159862  0.241552536 8.092788e-01
8    0.0356646475 0.05813097  0.613522278 5.399589e-01
9   -0.0194010720 0.07005460 -0.276942167 7.820000e-01
10   0.0460469378 0.11683149  0.394131216 6.937419e-01
11   0.0325935729 0.05196543  0.627216416 5.309564e-01
12   0.0201263344 0.05206878  0.386533610 6.993537e-01
13  -0.0181199758 0.05050729 -0.358759582 7.200072e-01
14   0.0111452934 0.04845099  0.230032328 8.182109e-01
15  -0.0329812403 0.05117476 -0.644482542 5.197158e-01
16  -0.0071231912 0.04656156 -0.152984374 8.785052e-01
17   0.2148616473 0.11691293  1.837792035 6.700291e-02
18   0.0728262078 0.04765896  1.528069528 1.274649e-01
19  -0.0339813397 0.14095370 -0.241081570 8.096434e-01
20   0.0890215315 0.05215681  1.706805556 8.881044e-02
21   0.0290786216 0.05062908  0.574346273 5.661296e-01
22   0.0001382403 0.05055320  0.002734551 9.978198e-01
23  -0.0230764563 0.07121424 -0.324042737 7.461135e-01
24  -0.0038277253 0.05114031 -0.074847515 9.403819e-01
25   0.0515673185 0.04934737  1.044986207 2.968036e-01
26   0.0071165782 0.05535602  0.128560154 8.977850e-01
27   0.0599826028 0.05116917  1.172241065 2.419562e-01
28   0.0595072545 0.05612003  1.060356726 2.897673e-01
29   0.0053203549 0.05330255  0.099814272 9.205531e-01
30   0.0294253721 0.07749011  0.379730683 7.043926e-01
⋮   ⋮             ⋮          ⋮            ⋮
261 -0.07297823   0.11280896 -0.6469187   5.181398e-01
262  0.08041696   0.10972780  0.7328768   4.641602e-01
263  0.01195638   0.08553618  0.1397815   8.889189e-01
264 -0.10119934   0.07661990 -1.3207970   1.874955e-01
265          NA           NA         NA             NA
266          NA           NA         NA             NA
267  0.01949710   0.13592458  0.1434406   8.860309e-01
268 -0.24943740   0.13643060 -1.8283098   6.841674e-02
269 -0.19640357   0.13643060 -1.4395859   1.509441e-01
270 -0.30952070   0.14324378 -2.1607968   3.143906e-02
271 -0.27644736   0.13592458 -2.0338290   4.277823e-02
272 -0.27315245   0.13637445 -2.0029591   4.600925e-02
273 -0.32351280   0.13643060 -2.3712627   1.830822e-02
274 -0.35564999   0.13643060 -2.6068198   9.558588e-03
275 -0.20896624   0.13592458 -1.5373690   1.251730e-01
276 -0.31478691   0.13643060 -2.3073043   2.166400e-02
277 -0.42520104   0.13637445 -3.1178936   1.983772e-03
278 -0.28497557   0.13637445 -2.0896551   3.742356e-02
279          NA           NA         NA             NA
280  0.04776793   0.01106794  4.3158814   2.110935e-05
281  0.02836456   0.01173951  2.4161630   1.623414e-02
282  0.06257916   0.05443375  1.1496390   2.511353e-01
283 -0.01427035   0.05666862 -0.2518209   8.013381e-01
284  0.07724145   0.11890412  0.6496112   5.164008e-01
285 -0.02595976   0.09383086 -0.2766654   7.822123e-01
286 -0.15022455   0.12371073 -1.2143211   2.255040e-01
287  0.05994217   0.13481845  0.4446140   6.568937e-01
288          NA           NA         NA             NA
289 -0.07395826   0.05153185 -1.4351952   1.521902e-01
290  0.03936484   0.04520275  0.8708505   3.844766e-01

In [71]:
womenwinning_df <- read.csv("officeholders_race_ethnicity.csv")
head(womenwinning_df)

  id      year first_name middle_name last_name party    level
1 566417k 2017 Kim        K.          Abbott    Democrat State Legislative
2 566417k 2018 Kim        K.          Abbott    Democrat State Legislative
3 566417k 2019 Kim        K.          Abbott    Democrat State Legislative
4 566417k 2020 Kim        K.          Abbott    Democrat State Legislative
5 14772c  2010 Robin      A.          Abbott    Democrat State Legislative
6 14772c  2011 Robin      A.          Abbott    Democrat State Legislative
  position             state         district race_ethnicity
1 State Representative Montana - MT  83       White
2 State Representative Montana - MT  83       White
3 State Representative Montana - MT  83       White
4 State Representative Montana - MT  83       White
5 State Representative Virginia - VA 93       White
6 State Representative Virginia - VA 93       White

In [76]:
winning_16_18 <- womenwinning_df %>% filter (year==2016 | year ==2018)


winning_16_18 %>% 
    group_by(year) %>%
    summarize (count= n())

#overall women winners 2016 vs 2018

`summarise()` ungrouping output (override with `.groups` argument)

  year count
1 2016 2018
2 2018 2138

In [78]:
winning_16_18 %>% 
    group_by(year,race_ethnicity) %>%
    summarize (count= n())

#total women winning 2016 vs 2018 by race

`summarise()` regrouping output by 'year' (override with `.groups` argument)

   year race_ethnicity                                              count
1  2016 Asian/Pacific Islander                                        48
2  2016 Black/African American                                       285
3  2016 Hispanic/Latina                                               95
4  2016 Multiracial                                                    1
5  2016 Multiracial, Black/African American, Asian/Pacific Islander    2
6  2016 Multiracial, Black/African American, Hispanic/Latina           1
7  2016 Multiracial, Black/African American, Native American           1
8  2016 Multiracial, Hispanic/Latina, Asian/Pacific Islander           1
9  2016 Multiracial, Hispanic/Latina, Native American                  1
10 2016 Multiracial, White/Caucasian, Asian/Pacific Islander           2
11 2016 Multiracial, White/Caucasian, Hispanic/Latina                  3
12 2016 Multiracial, White/Caucasian, Middle Eastern/North African     1
13 2016 Multiracial, White/Caucasian, Native American                  1
14 2016 Native American                                               17
15 2016 Other                                                          1
16 2016 White                                                       1558
17 2018 Asian/Pacific Islander                                        63
18 2018 Black/African American                                       304
19 2018 Hispanic/Latina                                              147
20 2018 Multiracial                                                    1
21 2018 Multiracial, Black/African American, Asian/Pacific Islander    1
22 2018 Multiracial, Black/African American, Hispanic/Latina           1
23 2018 Multiracial, Black/African American, Native American           1
24 2018 Multiracial, Hispanic/Latina, Asian/Pacific Islander           2
25 2018 Multiracial, Hispanic/Latina, Native American                  1
26 2018 Multiracial, White/Caucasian, Asian/Pacific Islander           2
27 2018 Multiracial, White/Caucasian, Black/African American           2
28 2018 Multiracial, White/Caucasian, Hispanic/Latina                  3
29 2018 Multiracial, White/Caucasian, Middle Eastern/North African     1
30 2018 Multiracial, White/Caucasian, Native American                  2
31 2018 Native American                                               20
32 2018 Other                                                          1
33 2018 Unavailable                                                    1
34 2018 White                                                       1585

In [102]:
winning_16_18 %>% 
    group_by(year,race_ethnicity) %>%
     summarize (count= n()) %>%
    mutate(race_prop = (count/sum(count)))
   
#proportion of women winning 2016 vs 2018 by race

`summarise()` regrouping output by 'year' (override with `.groups` argument)

   year race_ethnicity                                              count
1  2016 Asian/Pacific Islander                                        48
2  2016 Black/African American                                       285
3  2016 Hispanic/Latina                                               95
4  2016 Multiracial                                                    1
5  2016 Multiracial, Black/African American, Asian/Pacific Islander    2
6  2016 Multiracial, Black/African American, Hispanic/Latina           1
7  2016 Multiracial, Black/African American, Native American           1
8  2016 Multiracial, Hispanic/Latina, Asian/Pacific Islander           1
9  2016 Multiracial, Hispanic/Latina, Native American                  1
10 2016 Multiracial, White/Caucasian, Asian/Pacific Islander           2
11 2016 Multiracial, White/Caucasian, Hispanic/Latina                  3
12 2016 Multiracial, White/Caucasian, Middle Eastern/North African     1
13 2016 Multiracial, White/Caucasian, Native American                  1
14 2016 Native American                                               17
15 2016 Other                                                          1
16 2016 White                                                       1558
17 2018 Asian/Pacific Islander                                        63
18 2018 Black/African American                                       304
19 2018 Hispanic/Latina                                              147
20 2018 Multiracial                                                    1
21 2018 Multiracial, Black/African American, Asian/Pacific Islander    1
22 2018 Multiracial, Black/African American, Hispanic/Latina           1
23 2018 Multiracial, Black/African American, Native American           1
24 2018 Multiracial, Hispanic/Latina, Asian/Pacific Islander           2
25 2018 Multiracial, Hispanic/Latina, Native American                  1
26 2018 Multiracial, White/Caucasian, Asian/Pacific Islander           2
27 2018 Multiracial, White/Caucasian, Black/African American           2
28 2018 Multiracial, White/Caucasian, Hispanic/Latina                  3
29 2018 Multiracial, White/Caucasian, Middle Eastern/North African     1
30 2018 Multiracial, White/Caucasian, Native American                  2
31 2018 Native American                                               20
32 2018 Other                                                          1
33 2018 Unavailable                                                    1
34 2018 White                                                       1585
   race_prop
1  0.0237859267
2  0.1412289395
3  0.0470763132
4  0.0004955401
5  0.0009910803
6  0.0004955401
7  0.0004955401
8  0.0004955401
9  0.0004955401
10 0.0009910803
11 0.0014866204
12 0.0004955401
13 0.0004955401
14 0.0084241824
15 0.0004955401
16 0.7720515362
17 0.0294667914
18 0.1421889616
19 0.0687558466
20 0.0004677268
21 0.0004677268
22 0.0004677268
23 0.0004677268
24 0.0009354537
25 0.0004677268
26 0.0009354537
27 0.0009354537
28 0.0014031805
29 0.0004677268
30 0.0009354537
31 0.0093545370
32 0.0004677268
33 0.0004677268
34 0.7413470533

In [89]:
winning_16_18 <- womenwinning_df %>% filter (year==2016 | year ==2018)


win_by_state <- winning_16_18 %>% 
    group_by(year,state) %>%
    summarize (count= n())

win_by_state[1:50,]
win_by_state[51:80,]
win_by_state[81:112,]


#overall women winners 2016 vs 2018, split by state

`summarise()` regrouping output by 'year' (override with `.groups` argument)

   year state                     count
1  2016 Alabama - AL               24
2  2016 Alaska - AK                18
3  2016 American Samoa - AM         1
4  2016 Arizona - AZ               38
5  2016 Arkansas - AR              29
6  2016 California - CA            55
7  2016 Colorado - CO              45
8  2016 Connecticut - CT           58
9  2016 Delaware - DE              17
10 2016 District of Columbia - DC   1
11 2016 Florida - FL               51
12 2016 Georgia - GA               57
13 2016 Guam - GU                   2
14 2016 Hawaii - HI                25
15 2016 Idaho - ID                 31
16 2016 Illinois - IL              65
17 2016 Indiana - IN               38
18 2016 Iowa - IA                  37
19 2016 Kansas - KS                41
20 2016 Kentucky - KY              25
21 2016 Louisiana - LA             23
22 2016 Maine - ME                 56
23 2016 Maryland - MD              62
24 2016 Massachusetts - MA         58
25 2016 Michigan - MI              35
26 2016 Minnesota - MN             72
27 2016 Mississippi - MS           28
28 2016 Missouri - MO              54
29 2016 Montana - MT               51
30 2016 Nebraska - NE              12
31 2016 Nevada - NV                23
32 2016 New Hampshire - NH        126
33 2016 New Jersey - NJ            39
34 2016 New Mexico - NM            33
35 2016 New York - NY              66
36 2016 North Carolina - NC        47
37 2016 North Dakota - ND          31
38 2016 Ohio - OH                  37
39 2016 Oklahoma - OK              25
40 2016 Oregon - OR                32
41 2016 Pennsylvania - PA          48
42 2016 Puerto Rico - PR            1
43 2016 Rhode Island - RI          33
44 2016 South Carolina - SC        26
45 2016 South Dakota - SD          25
46 2016 Tennessee - TN             24
47 2016 Texas - TX                 41
48 2016 Utah - UT                  17
49 2016 Vermont - VT               76
50 2016 Virgin Islands - VI         1

   year state                     count
1  2016 Virginia - VA             28
2  2016 Washington - WA           55
3  2016 West Virginia - WV        23
4  2016 Wisconsin - WI            37
5  2016 Wyoming - WY              15
6  2018 Alabama - AL              25
7  2018 Alaska - AK               21
8  2018 American Samoa - AM        4
9  2018 Arizona - AZ              43
10 2018 Arkansas - AR             28
11 2018 California - CA           51
12 2018 Colorado - CO             41
13 2018 Connecticut - CT          57
14 2018 Delaware - DE             15
15 2018 District of Columbia - DC  5
16 2018 Florida - FL              51
17 2018 Georgia - GA              65
18 2018 Guam - GU                  7
19 2018 Hawaii - HI               25
20 2018 Idaho - ID                34
21 2018 Illinois - IL             73
22 2018 Indiana - IN              37
23 2018 Iowa - IA                 38
24 2018 Kansas - KS               48
25 2018 Kentucky - KY             26
26 2018 Louisiana - LA            23
27 2018 Maine - ME                65
28 2018 Maryland - MD             63
29 2018 Massachusetts - MA        58
30 2018 Michigan - MI             42

   year state                         count
1  2018 Minnesota - MN                 72
2  2018 Mississippi - MS               29
3  2018 Missouri - MO                  52
4  2018 Montana - MT                   44
5  2018 Nebraska - NE                  14
6  2018 Nevada - NV                    30
7  2018 New Hampshire - NH            131
8  2018 New Jersey - NJ                41
9  2018 New Mexico - NM                37
10 2018 New York - NY                  74
11 2018 North Carolina - NC            49
12 2018 North Dakota - ND              30
13 2018 Northern Mariana Islands - MI   3
14 2018 Ohio - OH                      33
15 2018 Oklahoma - OK                  25
16 2018 Oregon - OR                    33
17 2018 Pennsylvania - PA              51
18 2018 Puerto Rico - PR               15
19 2018 Rhode Island - RI              38
20 2018 South Carolina - SC            28
21 2018 South Dakota - SD              26
22 2018 Tennessee - TN                 23
23 2018 Texas - TX                     41
24 2018 Utah - UT                      23
25 2018 Vermont - VT                   73
26 2018 Virgin Islands - VI             5
27 2018 Virginia - VA                  39
28 2018 Washington - WA                64
29 2018 West Virginia - WV             22
30 2018 Wisconsin - WI                 35
31 2018 Wyoming - WY                   13
32   NA NA                             NA

In [108]:
win_by_state_race<-winning_16_18 %>% 
    group_by(year,state,race_ethnicity) %>%
    summarize (count= n())

win_by_state_race[1:50,]
win_by_state_race[51:100,]
win_by_state_race[101:151,]
win_by_state_race[152:203,]
win_by_state_race[204:255,]
win_by_state_race[256:305,]
win_by_state_race[306:350,]


#total women winning 2016 vs 2018 by state and race

`summarise()` regrouping output by 'year', 'state' (override with `.groups` argument)

   year state
1  2016 Alabama - AL
2  2016 Alabama - AL
3  2016 Alaska - AK
4  2016 Alaska - AK
5  2016 Alaska - AK
6  2016 American Samoa - AM
7  2016 Arizona - AZ
8  2016 Arizona - AZ
9  2016 Arizona - AZ
10 2016 Arizona - AZ
11 2016 Arizona - AZ
12 2016 Arizona - AZ
13 2016 Arkansas - AR
14 2016 Arkansas - AR
15 2016 California - CA
16 2016 California - CA
17 2016 California - CA
18 2016 California - CA
19 2016 California - CA
20 2016 Colorado - CO
21 2016 Colorado - CO
22 2016 Colorado - CO
23 2016 Connecticut - CT
24 2016 Connecticut - CT
25 2016 Connecticut - CT
26 2016 Delaware - DE
27 2016 Delaware - DE
28 2016 District of Columbia - DC
29 2016 Florida - FL
30 2016 Florida - FL
31 2016 Florida - FL
32 2016 Georgia - GA
33 2016 Georgia - GA
34 2016 Guam - GU
35 2016 Guam - GU
36 2016 Hawaii - HI
37 2016 Hawaii - HI
38 2016 Hawaii - HI
39 2016 Idaho - ID
40 2016 Idaho - ID
41 2016 Idaho - ID
42 2016 Idaho - ID
43 2016 Illinois - IL
44 2016 Illinois - IL
45 2016 Illinois - IL
46 2016 Illinois - IL
47 2016 Illinois - IL
48 2016 Indiana - IN
49 2016 Indiana - IN
50 2016 Iowa - IA
   race_ethnicity                                              count
1  Black/African American                                      13
2  White                                                       11
3  Hispanic/Latina                                              1
4  Native American                                              1
5  White                                                       16
6  Asian/Pacific Islander                                       1
7  Asian/Pacific Islander                                       1
8  Hispanic/Latina                                              5
9  Multiracial, Hispanic/Latina, Native American                1
10 Multiracial, White/Caucasian, Native American                1
11 Native American                                              1
12 White                                                       29
13 Black/African American                                       4
14 White                                                       25
15 Asian/Pacific Islander                                       7
16 Black/African American                                       7
17 Hispanic/Latina                                             11
18 Multiracial, Black/African American, Asian/Pacific Islander  2
19 White                                                       28
20 Black/African American                                       3
21 Hispanic/Latina                                              5
22 White                                                       37
23 Black/African American                                       5
24 Hispanic/Latina                                              2
25 White                                                       51
26 Black/African American                                       2
27 White                                                       15
28 Black/African American                                       1
29 Black/African American                                      13
30 Hispanic/Latina                                              5
31 White                                                       33
32 Black/African American                                      27
33 White                                                       30
34 Asian/Pacific Islander                                       1
35 White                                                        1
36 Asian/Pacific Islander                                      18
37 Multiracial, Hispanic/Latina, Asian/Pacific Islander         1
38 White                                                        6
39 Asian/Pacific Islander                                       2
40 Black/African American                                       1
41 Native American                                              1
42 White                                                       27
43 Asian/Pacific Islander                                       1
44 Black/African American                                      14
45 Hispanic/Latina                                              6
46 Multiracial                                                  1
47 White                                                       43
48 Black/African American                                       6
49 White                                                       32
50 Black/African American                                       4

   year state              race_ethnicity
1  2016 Iowa - IA          White
2  2016 Kansas - KS        Black/African American
3  2016 Kansas - KS        Native American
4  2016 Kansas - KS        White
5  2016 Kentucky - KY      Black/African American
6  2016 Kentucky - KY      White
7  2016 Louisiana - LA     Black/African American
8  2016 Louisiana - LA     White
9  2016 Maine - ME         Multiracial, White/Caucasian, Asian/Pacific Islander
10 2016 Maine - ME         White
11 2016 Maryland - MD      Asian/Pacific Islander
12 2016 Maryland - MD      Black/African American
13 2016 Maryland - MD      Hispanic/Latina
14 2016 Maryland - MD      White
15 2016 Massachusetts - MA Asian/Pacific Islander
16 2016 Massachusetts - MA Black/African American
17 2016 Massachusetts - MA Hispanic/Latina
18 2016 Massachusetts - MA White
19 2016 Michigan - MI      Asian/Pacific Islander
20 2016 Michigan - MI      Black/African American
21 2016 Michigan - MI      Hispanic/Latina
22 2016 Michigan - MI      White
23 2016 Minnesota - MN     Black/African American
24 2016 Minnesota - MN     Hispanic/Latina
25 2016 Minnesota - MN     Multiracial, White/Caucasian, Hispanic/Latina
26 2016 Minnesota - MN     Native American
27 2016 Minnesota - MN     White
28 2016 Mississippi - MS   Black/African American
29 2016 Mississippi - MS   Native American
30 2016 Mississippi - MS   White
31 2016 Missouri - MO      Black/African American
32 2016 Missouri - MO      White
33 2016 Montana - MT       Native American
34 2016 Montana - MT       White
35 2016 Nebraska - NE      Asian/Pacific Islander
36 2016 Nebraska - NE      White
37 2016 Nevada - NV        Black/African American
38 2016 Nevada - NV        Hispanic/Latina
39 2016 Nevada - NV        White
40 2016 New Hampshire - NH Asian/Pacific Islander
41 2016 New Hampshire - NH Black/African American
42 2016 New Hampshire - NH White
43 2016 New Jersey - NJ    Black/African American
44 2016 New Jersey - NJ    Hispanic/Latina
45 2016 New Jersey - NJ    White
46 2016 New Mexico - NM    Black/African American
47 2016 New Mexico - NM    Hispanic/Latina
48 2016 New Mexico - NM    Native American
49 2016 New Mexico - NM    Other
50 2016 New Mexico - NM    White
   count
1   33
2    4
3    1
4   36
5    1
6   24
7    9
8   14
9    1
10  55
11   3
12  22
13   3
14  34
15   1
16   3
17   1
18  53
19   1
20   6
21   2
22  26
23   1
24   1
25   1
26   2
27  67
28  15
29   1
30  12
31  11
32  43
33   6
34  45
35   1
36  11
37   2
38   3
39  18
40   1
41   1
42 124
43  11
44   9
45  19
46   2
47  13
48   3
49   1
50  14

   year state
1  2016 New York - NY
2  2016 New York - NY
3  2016 New York - NY
4  2016 New York - NY
5  2016 New York - NY
6  2016 North Carolina - NC
7  2016 North Carolina - NC
8  2016 North Dakota - ND
9  2016 Ohio - OH
10 2016 Ohio - OH
11 2016 Oklahoma - OK
12 2016 Oklahoma - OK
13 2016 Oklahoma - OK
14 2016 Oklahoma - OK
15 2016 Oklahoma - OK
16 2016 Oregon - OR
17 2016 Oregon - OR
18 2016 Oregon - OR
19 2016 Pennsylvania - PA
20 2016 Pennsylvania - PA
21 2016 Pennsylvania - PA
22 2016 Pennsylvania - PA
23 2016 Puerto Rico - PR
24 2016 Rhode Island - RI
25 2016 Rhode Island - RI
26 2016 Rhode Island - RI
27 2016 South Carolina - SC
28 2016 South Carolina - SC
29 2016 South Carolina - SC
30 2016 South Dakota - SD
31 2016 Tennessee - TN
32 2016 Tennessee - TN
33 2016 Tennessee - TN
34 2016 Texas - TX
35 2016 Texas - TX
36 2016 Texas - TX
37 2016 Texas - TX
38 2016 Utah - UT
39 2016 Utah - UT
40 2016 Utah - UT
41 2016 Utah - UT
42 2016 Vermont - VT
43 2016 Vermont - VT
44 2016 Vermont - VT
45 2016 Vermont - VT
46 2016 Vermont - VT
47 2016 Virgin Islands - VI
48 2016 Virginia - VA
49 2016 Virginia - VA
50 2016 Washington - WA
51 2016 Washington - WA
   race_ethnicity                                             count
1  Asian/Pacific Islander                                      1
2  Black/African American                                     20
3  Hispanic/Latina                                             5
4  Multiracial, White/Caucasian, Hispanic/Latina               1
5  White                                                      39
6  Black/African American                                     13
7  White                                                      34
8  White                                                      31
9  Black/African American                                     10
10 White                                                      27
11 Black/African American                                      1
12 Multiracial, Black/African American, Native American        1
13 Multiracial, White/Caucasian, Asian/Pacific Islander        1
14 Native American                                             1
15 White                                                      21
16 Black/African American                                      1
17 Hispanic/Latina                                             1
18 White                                                      30
19 Asian/Pacific Islander                                      1
20 Black/African American                                      7
21 Hispanic/Latina                                             1
22 White                                                      39
23 Hispanic/Latina                                             1
24 Hispanic/Latina                                             3
25 Multiracial, Black/African American, Hispanic/Latina        1
26 White                                                      29
27 Asian/Pacific Islander                                      1
28 Black/African American                                      7
29 White                                                      18
30 White                                                      25
31 Black/African American                                      7
32 Hispanic/Latina                                             1
33 White                                                      16
34 Asian/Pacific Islander                                      1
35 Black/African American                                     11
36 Hispanic/Latina                                             9
37 White                                                      20
38 Asian/Pacific Islander                                      1
39 Black/African American                                      2
40 Hispanic/Latina                                             3
41 White                                                      11
42 Asian/Pacific Islander                                      1
43 Black/African American                                      1
44 Multiracial, White/Caucasian, Hispanic/Latina               1
45 Multiracial, White/Caucasian, Middle Eastern/North African  1
46 White                                                      72
47 Black/African American                                      1
48 Black/African American                                     11
49 White                                                      17
50 Asian/Pacific Islander                                      4
51 Hispanic/Latina                                             2

   year state
1  2016 Washington - WA
2  2016 West Virginia - WV
3  2016 West Virginia - WV
4  2016 Wisconsin - WI
5  2016 Wisconsin - WI
6  2016 Wisconsin - WI
7  2016 Wyoming - WY
8  2018 Alabama - AL
9  2018 Alabama - AL
10 2018 Alaska - AK
11 2018 Alaska - AK
12 2018 American Samoa - AM
13 2018 Arizona - AZ
14 2018 Arizona - AZ
15 2018 Arizona - AZ
16 2018 Arizona - AZ
17 2018 Arizona - AZ
18 2018 Arizona - AZ
19 2018 Arkansas - AR
20 2018 Arkansas - AR
21 2018 California - CA
22 2018 California - CA
23 2018 California - CA
24 2018 California - CA
25 2018 California - CA
26 2018 Colorado - CO
27 2018 Colorado - CO
28 2018 Colorado - CO
29 2018 Connecticut - CT
30 2018 Connecticut - CT
31 2018 Connecticut - CT
32 2018 Delaware - DE
33 2018 Delaware - DE
34 2018 District of Columbia - DC
35 2018 District of Columbia - DC
36 2018 Florida - FL
37 2018 Florida - FL
38 2018 Florida - FL
39 2018 Florida - FL
40 2018 Georgia - GA
41 2018 Georgia - GA
42 2018 Georgia - GA
43 2018 Georgia - GA
44 2018 Guam - GU
45 2018 Guam - GU
46 2018 Hawaii - HI
47 2018 Hawaii - HI
48 2018 Hawaii - HI
49 2018 Idaho - ID
50 2018 Idaho - ID
51 2018 Idaho - ID
52 2018 Idaho - ID
   race_ethnicity                                              count
1  White                                                       49
2  Black/African American                                       1
3  White                                                       22
4  Black/African American                                       4
5  Hispanic/Latina                                              2
6  White                                                       31
7  White                                                       15
8  Black/African American                                      14
9  White                                                       11
10 Native American                                              3
11 White                                                       18
12 Asian/Pacific Islander                                       4
13 Asian/Pacific Islander                                       1
14 Black/African American                                       1
15 Hispanic/Latina                                              7
16 Multiracial, Hispanic/Latina, Native American                1
17 Native American                                              2
18 White                                                       31
19 Black/African American                                       4
20 White                                                       24
21 Asian/Pacific Islander                                       5
22 Black/African American                                       7
23 Hispanic/Latina                                             19
24 Multiracial, Black/African American, Asian/Pacific Islander  1
25 White                                                       19
26 Black/African American                                       5
27 Hispanic/Latina                                              5
28 White                                                       31
29 Black/African American                                       5
30 Hispanic/Latina                                              2
31 White                                                       50
32 Black/African American                                       3
33 White                                                       12
34 Black/African American                                       2
35 White                                                        3
36 Asian/Pacific Islander                                       1
37 Black/African American                                      11
38 Hispanic/Latina                                              7
39 White                                                       32
40 Asian/Pacific Islander                                       1
41 Black/African American                                      31
42 Hispanic/Latina                                              2
43 White                                                       31
44 Asian/Pacific Islander                                       6
45 White                                                        1
46 Asian/Pacific Islander                                      19
47 Multiracial, Hispanic/Latina, Asian/Pacific Islander         1
48 White                                                        5
49 Asian/Pacific Islander                                       2
50 Black/African American                                       1
51 Native American                                              1
52 White                                                       30

   year state              race_ethnicity
1  2018 Illinois - IL      Asian/Pacific Islander
2  2018 Illinois - IL      Black/African American
3  2018 Illinois - IL      Hispanic/Latina
4  2018 Illinois - IL      Multiracial
5  2018 Illinois - IL      White
6  2018 Indiana - IN       Black/African American
7  2018 Indiana - IN       Hispanic/Latina
8  2018 Indiana - IN       White
9  2018 Iowa - IA          Black/African American
10 2018 Iowa - IA          White
11 2018 Kansas - KS        Black/African American
12 2018 Kansas - KS        Native American
13 2018 Kansas - KS        White
14 2018 Kentucky - KY      Black/African American
15 2018 Kentucky - KY      White
16 2018 Louisiana - LA     Black/African American
17 2018 Louisiana - LA     White
18 2018 Maine - ME         Black/African American
19 2018 Maine - ME         Multiracial, White/Caucasian, Asian/Pacific Islander
20 2018 Maine - ME         White
21 2018 Maryland - MD      Asian/Pacific Islander
22 2018 Maryland - MD      Black/African American
23 2018 Maryland - MD      Hispanic/Latina
24 2018 Maryland - MD      White
25 2018 Massachusetts - MA Asian/Pacific Islander
26 2018 Massachusetts - MA Black/African American
27 2018 Massachusetts - MA Hispanic/Latina
28 2018 Massachusetts - MA White
29 2018 Michigan - MI      Asian/Pacific Islander
30 2018 Michigan - MI      Black/African American
31 2018 Michigan - MI      Hispanic/Latina
32 2018 Michigan - MI      White
33 2018 Minnesota - MN     Black/African American
34 2018 Minnesota - MN     Hispanic/Latina
35 2018 Minnesota - MN     Multiracial, White/Caucasian, Black/African American
36 2018 Minnesota - MN     Multiracial, White/Caucasian, Hispanic/Latina
37 2018 Minnesota - MN     Multiracial, White/Caucasian, Native American
38 2018 Minnesota - MN     Native American
39 2018 Minnesota - MN     White
40 2018 Mississippi - MS   Black/African American
41 2018 Mississippi - MS   Native American
42 2018 Mississippi - MS   White
43 2018 Missouri - MO      Black/African American
44 2018 Missouri - MO      White
45 2018 Montana - MT       Native American
46 2018 Montana - MT       White
47 2018 Nebraska - NE      White
48 2018 Nevada - NV        Black/African American
49 2018 Nevada - NV        Hispanic/Latina
50 2018 Nevada - NV        Multiracial, White/Caucasian, Black/African American
51 2018 Nevada - NV        White
52 2018 New Hampshire - NH Asian/Pacific Islander
   count
1   2
2  15
3   9
4   1
5  46
6   4
7   1
8  32
9   3
10 35
11  4
12  1
13 43
14  2
15 24
16  8
17 15
18  1
19  1
20 63
21  3
22 22
23  3
24 35
25  1
26  2
27  2
28 53
29  1
30  9
31  2
32 30
33  2
34  1
35  1
36  1
37  1
38  3
39 63
40 13
41  1
42 15
43  7
44 45
45  4
46 40
47 14
48  4
49  6
50  1
51 19
52  1

   year state
1  2018 New Hampshire - NH
2  2018 New Hampshire - NH
3  2018 New Hampshire - NH
4  2018 New Jersey - NJ
5  2018 New Jersey - NJ
6  2018 New Jersey - NJ
7  2018 New Mexico - NM
8  2018 New Mexico - NM
9  2018 New Mexico - NM
10 2018 New Mexico - NM
11 2018 New Mexico - NM
12 2018 New York - NY
13 2018 New York - NY
14 2018 New York - NY
15 2018 New York - NY
16 2018 New York - NY
17 2018 North Carolina - NC
18 2018 North Carolina - NC
19 2018 North Dakota - ND
20 2018 Northern Mariana Islands - MI
21 2018 Northern Mariana Islands - MI
22 2018 Ohio - OH
23 2018 Ohio - OH
24 2018 Oklahoma - OK
25 2018 Oklahoma - OK
26 2018 Oklahoma - OK
27 2018 Oklahoma - OK
28 2018 Oklahoma - OK
29 2018 Oregon - OR
30 2018 Oregon - OR
31 2018 Oregon - OR
32 2018 Oregon - OR
33 2018 Pennsylvania - PA
34 2018 Pennsylvania - PA
35 2018 Pennsylvania - PA
36 2018 Puerto Rico - PR
37 2018 Rhode Island - RI
38 2018 Rhode Island - RI
39 2018 Rhode Island - RI
40 2018 Rhode Island - RI
41 2018 South Carolina - SC
42 2018 South Carolina - SC
43 2018 South Dakota - SD
44 2018 Tennessee - TN
45 2018 Tennessee - TN
46 2018 Tennessee - TN
47 2018 Texas - TX
48 2018 Texas - TX
49 2018 Texas - TX
50 2018 Texas - TX
   race_ethnicity                                       count
1  Black/African American                                 2
2  Hispanic/Latina                                        1
3  White                                                127
4  Black/African American                                13
5  Hispanic/Latina                                        9
6  White                                                 19
7  Black/African American                                 2
8  Hispanic/Latina                                       14
9  Native American                                        3
10 Other                                                  1
11 White                                                 17
12 Asian/Pacific Islander                                 2
13 Black/African American                                20
14 Hispanic/Latina                                        8
15 Multiracial, White/Caucasian, Hispanic/Latina          1
16 White                                                 43
17 Black/African American                                14
18 White                                                 35
19 White                                                 30
20 Asian/Pacific Islander                                 2
21 Unavailable                                            1
22 Black/African American                                12
23 White                                                 21
24 Black/African American                                 1
25 Multiracial, Black/African American, Native American   1
26 Multiracial, White/Caucasian, Asian/Pacific Islander   1
27 Multiracial, White/Caucasian, Native American          1
28 White                                                 21
29 Black/African American                                 2
30 Hispanic/Latina                                        2
31 Native American                                        1
32 White                                                 28
33 Asian/Pacific Islander                                 2
34 Black/African American                                 8
35 White                                                 41
36 Hispanic/Latina                                       15
37 Black/African American                                 1
38 Hispanic/Latina                                        5
39 Multiracial, Black/African American, Hispanic/Latina   1
40 White                                                 31
41 Black/African American                                 9
42 White                                                 19
43 White                                                 26
44 Black/African American                                 7
45 Hispanic/Latina                                        1
46 White                                                 15
47 Asian/Pacific Islander                                 1
48 Black/African American                                11
49 Hispanic/Latina                                       13
50 White                                                 16

   year state
1  2018 Utah - UT
2  2018 Utah - UT
3  2018 Utah - UT
4  2018 Utah - UT
5  2018 Vermont - VT
6  2018 Vermont - VT
7  2018 Vermont - VT
8  2018 Vermont - VT
9  2018 Virgin Islands - VI
10 2018 Virgin Islands - VI
11 2018 Virginia - VA
12 2018 Virginia - VA
13 2018 Virginia - VA
14 2018 Virginia - VA
15 2018 Virginia - VA
16 2018 Washington - WA
17 2018 Washington - WA
18 2018 Washington - WA
19 2018 Washington - WA
20 2018 West Virginia - WV
21 2018 West Virginia - WV
22 2018 West Virginia - WV
23 2018 Wisconsin - WI
24 2018 Wisconsin - WI
25 2018 Wisconsin - WI
26 2018 Wyoming - WY
27 2018 Wyoming - WY
28   NA NA
29   NA NA
30   NA NA
31   NA NA
32   NA NA
33   NA NA
34   NA NA
35   NA NA
36   NA NA
37   NA NA
38   NA NA
39   NA NA
40   NA NA
41   NA NA
42   NA NA
43   NA NA
44   NA NA
45   NA NA
   race_ethnicity                                             count
1  Asian/Pacific Islander                                      2
2  Black/African American                                      2
3  Hispanic/Latina                                             3
4  White                                                      16
5  Black/African American                                      1
6  Multiracial, White/Caucasian, Hispanic/Latina               1
7  Multiracial, White/Caucasian, Middle Eastern/North African  1
8  White                                                      70
9  Black/African American                                      3
10 Hispanic/Latina                                             2
11 Asian/Pacific Islander                                      1
12 Black/African American                                     11
13 Hispanic/Latina                                             2
14 Multiracial, Hispanic/Latina, Asian/Pacific Islander        1
15 White                                                      24
16 Asian/Pacific Islander                                      6
17 Black/African American                                      1
18 Hispanic/Latina                                             3
19 White                                                      54
20 Black/African American                                      1
21 Hispanic/Latina                                             1
22 White                                                      20
23 Black/African American                                      3
24 Hispanic/Latina                                             2
25 White                                                      30
26 Native American                                             1
27 White                                                      12
28 NA                                                         NA
29 NA                                                         NA
30 NA                                                         NA
31 NA                                                         NA
32 NA                                                         NA
33 NA                                                         NA
34 NA                                                         NA
35 NA                                                         NA
36 NA                                                         NA
37 NA                                                         NA
38 NA                                                         NA
39 NA                                                         NA
40 NA                                                         NA
41 NA                                                         NA
42 NA                                                         NA
43 NA                                                         NA
44 NA                                                         NA
45 NA                                                         NA

In [111]:
state_race_prop<-winning_16_18 %>% 
    group_by(year,state, race_ethnicity) %>%
     group_by (race_ethnicity, .add = TRUE) %>%
     summarize (count= n()) %>%
    mutate(race_prop = (count/sum(count)))

state_race_prop[1:50,]
state_race_prop[51:100,]
state_race_prop[101:152,]
state_race_prop[153:204,]
state_race_prop[205:256,]
state_race_prop[257:308,]
state_race_prop[309:350,]


   


#proportion of women winning 2016 vs 2018 by state and race

`summarise()` regrouping output by 'year', 'state' (override with `.groups` argument)

   year state
1  2016 Alabama - AL
2  2016 Alabama - AL
3  2016 Alaska - AK
4  2016 Alaska - AK
5  2016 Alaska - AK
6  2016 American Samoa - AM
7  2016 Arizona - AZ
8  2016 Arizona - AZ
9  2016 Arizona - AZ
10 2016 Arizona - AZ
11 2016 Arizona - AZ
12 2016 Arizona - AZ
13 2016 Arkansas - AR
14 2016 Arkansas - AR
15 2016 California - CA
16 2016 California - CA
17 2016 California - CA
18 2016 California - CA
19 2016 California - CA
20 2016 Colorado - CO
21 2016 Colorado - CO
22 2016 Colorado - CO
23 2016 Connecticut - CT
24 2016 Connecticut - CT
25 2016 Connecticut - CT
26 2016 Delaware - DE
27 2016 Delaware - DE
28 2016 District of Columbia - DC
29 2016 Florida - FL
30 2016 Florida - FL
31 2016 Florida - FL
32 2016 Georgia - GA
33 2016 Georgia - GA
34 2016 Guam - GU
35 2016 Guam - GU
36 2016 Hawaii - HI
37 2016 Hawaii - HI
38 2016 Hawaii - HI
39 2016 Idaho - ID
40 2016 Idaho - ID
41 2016 Idaho - ID
42 2016 Idaho - ID
43 2016 Illinois - IL
44 2016 Illinois - IL
45 2016 Illinois - IL
46 2016 Illinois - IL
47 2016 Illinois - IL
48 2016 Indiana - IN
49 2016 Indiana - IN
50 2016 Iowa - IA
   race_ethnicity                                              count race_prop
1  Black/African American                                      13    0.54166667
2  White                                                       11    0.45833333
3  Hispanic/Latina                                              1    0.05555556
4  Native American                                              1    0.05555556
5  White                                                       16    0.88888889
6  Asian/Pacific Islander                                       1    1.00000000
7  Asian/Pacific Islander                                       1    0.02631579
8  Hispanic/Latina                                              5    0.13157895
9  Multiracial, Hispanic/Latina, Native American                1    0.02631579
10 Multiracial, White/Caucasian, Native American                1    0.02631579
11 Native American                                              1    0.02631579
12 White                                                       29    0.76315789
13 Black/African American                                       4    0.13793103
14 White                                                       25    0.86206897
15 Asian/Pacific Islander                                       7    0.12727273
16 Black/African American                                       7    0.12727273
17 Hispanic/Latina                                             11    0.20000000
18 Multiracial, Black/African American, Asian/Pacific Islander  2    0.03636364
19 White                                                       28    0.50909091
20 Black/African American                                       3    0.06666667
21 Hispanic/Latina                                              5    0.11111111
22 White                                                       37    0.82222222
23 Black/African American                                       5    0.08620690
24 Hispanic/Latina                                              2    0.03448276
25 White                                                       51    0.87931034
26 Black/African American                                       2    0.11764706
27 White                                                       15    0.88235294
28 Black/African American                                       1    1.00000000
29 Black/African American                                      13    0.25490196
30 Hispanic/Latina                                              5    0.09803922
31 White                                                       33    0.64705882
32 Black/African American                                      27    0.47368421
33 White                                                       30    0.52631579
34 Asian/Pacific Islander                                       1    0.50000000
35 White                                                        1    0.50000000
36 Asian/Pacific Islander                                      18    0.72000000
37 Multiracial, Hispanic/Latina, Asian/Pacific Islander         1    0.04000000
38 White                                                        6    0.24000000
39 Asian/Pacific Islander                                       2    0.06451613
40 Black/African American                                       1    0.03225806
41 Native American                                              1    0.03225806
42 White                                                       27    0.87096774
43 Asian/Pacific Islander                                       1    0.01538462
44 Black/African American                                      14    0.21538462
45 Hispanic/Latina                                              6    0.09230769
46 Multiracial                                                  1    0.01538462
47 White                                                       43    0.66153846
48 Black/African American                                       6    0.15789474
49 White                                                       32    0.84210526
50 Black/African American                                       4    0.10810811

   year state              race_ethnicity
1  2016 Iowa - IA          White
2  2016 Kansas - KS        Black/African American
3  2016 Kansas - KS        Native American
4  2016 Kansas - KS        White
5  2016 Kentucky - KY      Black/African American
6  2016 Kentucky - KY      White
7  2016 Louisiana - LA     Black/African American
8  2016 Louisiana - LA     White
9  2016 Maine - ME         Multiracial, White/Caucasian, Asian/Pacific Islander
10 2016 Maine - ME         White
11 2016 Maryland - MD      Asian/Pacific Islander
12 2016 Maryland - MD      Black/African American
13 2016 Maryland - MD      Hispanic/Latina
14 2016 Maryland - MD      White
15 2016 Massachusetts - MA Asian/Pacific Islander
16 2016 Massachusetts - MA Black/African American
17 2016 Massachusetts - MA Hispanic/Latina
18 2016 Massachusetts - MA White
19 2016 Michigan - MI      Asian/Pacific Islander
20 2016 Michigan - MI      Black/African American
21 2016 Michigan - MI      Hispanic/Latina
22 2016 Michigan - MI      White
23 2016 Minnesota - MN     Black/African American
24 2016 Minnesota - MN     Hispanic/Latina
25 2016 Minnesota - MN     Multiracial, White/Caucasian, Hispanic/Latina
26 2016 Minnesota - MN     Native American
27 2016 Minnesota - MN     White
28 2016 Mississippi - MS   Black/African American
29 2016 Mississippi - MS   Native American
30 2016 Mississippi - MS   White
31 2016 Missouri - MO      Black/African American
32 2016 Missouri - MO      White
33 2016 Montana - MT       Native American
34 2016 Montana - MT       White
35 2016 Nebraska - NE      Asian/Pacific Islander
36 2016 Nebraska - NE      White
37 2016 Nevada - NV        Black/African American
38 2016 Nevada - NV        Hispanic/Latina
39 2016 Nevada - NV        White
40 2016 New Hampshire - NH Asian/Pacific Islander
41 2016 New Hampshire - NH Black/African American
42 2016 New Hampshire - NH White
43 2016 New Jersey - NJ    Black/African American
44 2016 New Jersey - NJ    Hispanic/Latina
45 2016 New Jersey - NJ    White
46 2016 New Mexico - NM    Black/African American
47 2016 New Mexico - NM    Hispanic/Latina
48 2016 New Mexico - NM    Native American
49 2016 New Mexico - NM    Other
50 2016 New Mexico - NM    White
   count race_prop
1   33   0.891891892
2    4   0.097560976
3    1   0.024390244
4   36   0.878048780
5    1   0.040000000
6   24   0.960000000
7    9   0.391304348
8   14   0.608695652
9    1   0.017857143
10  55   0.982142857
11   3   0.048387097
12  22   0.354838710
13   3   0.048387097
14  34   0.548387097
15   1   0.017241379
16   3   0.051724138
17   1   0.017241379
18  53   0.913793103
19   1   0.028571429
20   6   0.171428571
21   2   0.057142857
22  26   0.742857143
23   1   0.013888889
24   1   0.013888889
25   1   0.013888889
26   2   0.027777778
27  67   0.930555556
28  15   0.535714286
29   1   0.035714286
30  12   0.428571429
31  11   0.203703704
32  43   0.796296296
33   6   0.117647059
34  45   0.882352941
35   1   0.083333333
36  11   0.916666667
37   2   0.086956522
38   3   0.130434783
39  18   0.782608696
40   1   0.007936508
41   1   0.007936508
42 124   0.984126984
43  11   0.282051282
44   9   0.230769231
45  19   0.487179487
46   2   0.060606061
47  13   0.393939394
48   3   0.090909091
49   1   0.030303030
50  14   0.424242424

   year state
1  2016 New York - NY
2  2016 New York - NY
3  2016 New York - NY
4  2016 New York - NY
5  2016 New York - NY
6  2016 North Carolina - NC
7  2016 North Carolina - NC
8  2016 North Dakota - ND
9  2016 Ohio - OH
10 2016 Ohio - OH
11 2016 Oklahoma - OK
12 2016 Oklahoma - OK
13 2016 Oklahoma - OK
14 2016 Oklahoma - OK
15 2016 Oklahoma - OK
16 2016 Oregon - OR
17 2016 Oregon - OR
18 2016 Oregon - OR
19 2016 Pennsylvania - PA
20 2016 Pennsylvania - PA
21 2016 Pennsylvania - PA
22 2016 Pennsylvania - PA
23 2016 Puerto Rico - PR
24 2016 Rhode Island - RI
25 2016 Rhode Island - RI
26 2016 Rhode Island - RI
27 2016 South Carolina - SC
28 2016 South Carolina - SC
29 2016 South Carolina - SC
30 2016 South Dakota - SD
31 2016 Tennessee - TN
32 2016 Tennessee - TN
33 2016 Tennessee - TN
34 2016 Texas - TX
35 2016 Texas - TX
36 2016 Texas - TX
37 2016 Texas - TX
38 2016 Utah - UT
39 2016 Utah - UT
40 2016 Utah - UT
41 2016 Utah - UT
42 2016 Vermont - VT
43 2016 Vermont - VT
44 2016 Vermont - VT
45 2016 Vermont - VT
46 2016 Vermont - VT
47 2016 Virgin Islands - VI
48 2016 Virginia - VA
49 2016 Virginia - VA
50 2016 Washington - WA
51 2016 Washington - WA
52 2016 Washington - WA
   race_ethnicity                                             count race_prop
1  Asian/Pacific Islander                                      1    0.01515152
2  Black/African American                                     20    0.30303030
3  Hispanic/Latina                                             5    0.07575758
4  Multiracial, White/Caucasian, Hispanic/Latina               1    0.01515152
5  White                                                      39    0.59090909
6  Black/African American                                     13    0.27659574
7  White                                                      34    0.72340426
8  White                                                      31    1.00000000
9  Black/African American                                     10    0.27027027
10 White                                                      27    0.72972973
11 Black/African American                                      1    0.04000000
12 Multiracial, Black/African American, Native American        1    0.04000000
13 Multiracial, White/Caucasian, Asian/Pacific Islander        1    0.04000000
14 Native American                                             1    0.04000000
15 White                                                      21    0.84000000
16 Black/African American                                      1    0.03125000
17 Hispanic/Latina                                             1    0.03125000
18 White                                                      30    0.93750000
19 Asian/Pacific Islander                                      1    0.02083333
20 Black/African American                                      7    0.14583333
21 Hispanic/Latina                                             1    0.02083333
22 White                                                      39    0.81250000
23 Hispanic/Latina                                             1    1.00000000
24 Hispanic/Latina                                             3    0.09090909
25 Multiracial, Black/African American, Hispanic/Latina        1    0.03030303
26 White                                                      29    0.87878788
27 Asian/Pacific Islander                                      1    0.03846154
28 Black/African American                                      7    0.26923077
29 White                                                      18    0.69230769
30 White                                                      25    1.00000000
31 Black/African American                                      7    0.29166667
32 Hispanic/Latina                                             1    0.04166667
33 White                                                      16    0.66666667
34 Asian/Pacific Islander                                      1    0.02439024
35 Black/African American                                     11    0.26829268
36 Hispanic/Latina                                             9    0.21951220
37 White                                                      20    0.48780488
38 Asian/Pacific Islander                                      1    0.05882353
39 Black/African American                                      2    0.11764706
40 Hispanic/Latina                                             3    0.17647059
41 White                                                      11    0.64705882
42 Asian/Pacific Islander                                      1    0.01315789
43 Black/African American                                      1    0.01315789
44 Multiracial, White/Caucasian, Hispanic/Latina               1    0.01315789
45 Multiracial, White/Caucasian, Middle Eastern/North African  1    0.01315789
46 White                                                      72    0.94736842
47 Black/African American                                      1    1.00000000
48 Black/African American                                     11    0.39285714
49 White                                                      17    0.60714286
50 Asian/Pacific Islander                                      4    0.07272727
51 Hispanic/Latina                                             2    0.03636364
52 White                                                      49    0.89090909

   year state
1  2016 West Virginia - WV
2  2016 West Virginia - WV
3  2016 Wisconsin - WI
4  2016 Wisconsin - WI
5  2016 Wisconsin - WI
6  2016 Wyoming - WY
7  2018 Alabama - AL
8  2018 Alabama - AL
9  2018 Alaska - AK
10 2018 Alaska - AK
11 2018 American Samoa - AM
12 2018 Arizona - AZ
13 2018 Arizona - AZ
14 2018 Arizona - AZ
15 2018 Arizona - AZ
16 2018 Arizona - AZ
17 2018 Arizona - AZ
18 2018 Arkansas - AR
19 2018 Arkansas - AR
20 2018 California - CA
21 2018 California - CA
22 2018 California - CA
23 2018 California - CA
24 2018 California - CA
25 2018 Colorado - CO
26 2018 Colorado - CO
27 2018 Colorado - CO
28 2018 Connecticut - CT
29 2018 Connecticut - CT
30 2018 Connecticut - CT
31 2018 Delaware - DE
32 2018 Delaware - DE
33 2018 District of Columbia - DC
34 2018 District of Columbia - DC
35 2018 Florida - FL
36 2018 Florida - FL
37 2018 Florida - FL
38 2018 Florida - FL
39 2018 Georgia - GA
40 2018 Georgia - GA
41 2018 Georgia - GA
42 2018 Georgia - GA
43 2018 Guam - GU
44 2018 Guam - GU
45 2018 Hawaii - HI
46 2018 Hawaii - HI
47 2018 Hawaii - HI
48 2018 Idaho - ID
49 2018 Idaho - ID
50 2018 Idaho - ID
51 2018 Idaho - ID
52 2018 Illinois - IL
   race_ethnicity                                              count race_prop
1  Black/African American                                       1    0.04347826
2  White                                                       22    0.95652174
3  Black/African American                                       4    0.10810811
4  Hispanic/Latina                                              2    0.05405405
5  White                                                       31    0.83783784
6  White                                                       15    1.00000000
7  Black/African American                                      14    0.56000000
8  White                                                       11    0.44000000
9  Native American                                              3    0.14285714
10 White                                                       18    0.85714286
11 Asian/Pacific Islander                                       4    1.00000000
12 Asian/Pacific Islander                                       1    0.02325581
13 Black/African American                                       1    0.02325581
14 Hispanic/Latina                                              7    0.16279070
15 Multiracial, Hispanic/Latina, Native American                1    0.02325581
16 Native American                                              2    0.04651163
17 White                                                       31    0.72093023
18 Black/African American                                       4    0.14285714
19 White                                                       24    0.85714286
20 Asian/Pacific Islander                                       5    0.09803922
21 Black/African American                                       7    0.13725490
22 Hispanic/Latina                                             19    0.37254902
23 Multiracial, Black/African American, Asian/Pacific Islander  1    0.01960784
24 White                                                       19    0.37254902
25 Black/African American                                       5    0.12195122
26 Hispanic/Latina                                              5    0.12195122
27 White                                                       31    0.75609756
28 Black/African American                                       5    0.08771930
29 Hispanic/Latina                                              2    0.03508772
30 White                                                       50    0.87719298
31 Black/African American                                       3    0.20000000
32 White                                                       12    0.80000000
33 Black/African American                                       2    0.40000000
34 White                                                        3    0.60000000
35 Asian/Pacific Islander                                       1    0.01960784
36 Black/African American                                      11    0.21568627
37 Hispanic/Latina                                              7    0.13725490
38 White                                                       32    0.62745098
39 Asian/Pacific Islander                                       1    0.01538462
40 Black/African American                                      31    0.47692308
41 Hispanic/Latina                                              2    0.03076923
42 White                                                       31    0.47692308
43 Asian/Pacific Islander                                       6    0.85714286
44 White                                                        1    0.14285714
45 Asian/Pacific Islander                                      19    0.76000000
46 Multiracial, Hispanic/Latina, Asian/Pacific Islander         1    0.04000000
47 White                                                        5    0.20000000
48 Asian/Pacific Islander                                       2    0.05882353
49 Black/African American                                       1    0.02941176
50 Native American                                              1    0.02941176
51 White                                                       30    0.88235294
52 Asian/Pacific Islander                                       2    0.02739726

   year state              race_ethnicity
1  2018 Illinois - IL      Black/African American
2  2018 Illinois - IL      Hispanic/Latina
3  2018 Illinois - IL      Multiracial
4  2018 Illinois - IL      White
5  2018 Indiana - IN       Black/African American
6  2018 Indiana - IN       Hispanic/Latina
7  2018 Indiana - IN       White
8  2018 Iowa - IA          Black/African American
9  2018 Iowa - IA          White
10 2018 Kansas - KS        Black/African American
11 2018 Kansas - KS        Native American
12 2018 Kansas - KS        White
13 2018 Kentucky - KY      Black/African American
14 2018 Kentucky - KY      White
15 2018 Louisiana - LA     Black/African American
16 2018 Louisiana - LA     White
17 2018 Maine - ME         Black/African American
18 2018 Maine - ME         Multiracial, White/Caucasian, Asian/Pacific Islander
19 2018 Maine - ME         White
20 2018 Maryland - MD      Asian/Pacific Islander
21 2018 Maryland - MD      Black/African American
22 2018 Maryland - MD      Hispanic/Latina
23 2018 Maryland - MD      White
24 2018 Massachusetts - MA Asian/Pacific Islander
25 2018 Massachusetts - MA Black/African American
26 2018 Massachusetts - MA Hispanic/Latina
27 2018 Massachusetts - MA White
28 2018 Michigan - MI      Asian/Pacific Islander
29 2018 Michigan - MI      Black/African American
30 2018 Michigan - MI      Hispanic/Latina
31 2018 Michigan - MI      White
32 2018 Minnesota - MN     Black/African American
33 2018 Minnesota - MN     Hispanic/Latina
34 2018 Minnesota - MN     Multiracial, White/Caucasian, Black/African American
35 2018 Minnesota - MN     Multiracial, White/Caucasian, Hispanic/Latina
36 2018 Minnesota - MN     Multiracial, White/Caucasian, Native American
37 2018 Minnesota - MN     Native American
38 2018 Minnesota - MN     White
39 2018 Mississippi - MS   Black/African American
40 2018 Mississippi - MS   Native American
41 2018 Mississippi - MS   White
42 2018 Missouri - MO      Black/African American
43 2018 Missouri - MO      White
44 2018 Montana - MT       Native American
45 2018 Montana - MT       White
46 2018 Nebraska - NE      White
47 2018 Nevada - NV        Black/African American
48 2018 Nevada - NV        Hispanic/Latina
49 2018 Nevada - NV        Multiracial, White/Caucasian, Black/African American
50 2018 Nevada - NV        White
51 2018 New Hampshire - NH Asian/Pacific Islander
52 2018 New Hampshire - NH Black/African American
   count race_prop
1  15    0.205479452
2   9    0.123287671
3   1    0.013698630
4  46    0.630136986
5   4    0.108108108
6   1    0.027027027
7  32    0.864864865
8   3    0.078947368
9  35    0.921052632
10  4    0.083333333
11  1    0.020833333
12 43    0.895833333
13  2    0.076923077
14 24    0.923076923
15  8    0.347826087
16 15    0.652173913
17  1    0.015384615
18  1    0.015384615
19 63    0.969230769
20  3    0.047619048
21 22    0.349206349
22  3    0.047619048
23 35    0.555555556
24  1    0.017241379
25  2    0.034482759
26  2    0.034482759
27 53    0.913793103
28  1    0.023809524
29  9    0.214285714
30  2    0.047619048
31 30    0.714285714
32  2    0.027777778
33  1    0.013888889
34  1    0.013888889
35  1    0.013888889
36  1    0.013888889
37  3    0.041666667
38 63    0.875000000
39 13    0.448275862
40  1    0.034482759
41 15    0.517241379
42  7    0.134615385
43 45    0.865384615
44  4    0.090909091
45 40    0.909090909
46 14    1.000000000
47  4    0.133333333
48  6    0.200000000
49  1    0.033333333
50 19    0.633333333
51  1    0.007633588
52  2    0.015267176

   year state
1  2018 New Hampshire - NH
2  2018 New Hampshire - NH
3  2018 New Jersey - NJ
4  2018 New Jersey - NJ
5  2018 New Jersey - NJ
6  2018 New Mexico - NM
7  2018 New Mexico - NM
8  2018 New Mexico - NM
9  2018 New Mexico - NM
10 2018 New Mexico - NM
11 2018 New York - NY
12 2018 New York - NY
13 2018 New York - NY
14 2018 New York - NY
15 2018 New York - NY
16 2018 North Carolina - NC
17 2018 North Carolina - NC
18 2018 North Dakota - ND
19 2018 Northern Mariana Islands - MI
20 2018 Northern Mariana Islands - MI
21 2018 Ohio - OH
22 2018 Ohio - OH
23 2018 Oklahoma - OK
24 2018 Oklahoma - OK
25 2018 Oklahoma - OK
26 2018 Oklahoma - OK
27 2018 Oklahoma - OK
28 2018 Oregon - OR
29 2018 Oregon - OR
30 2018 Oregon - OR
31 2018 Oregon - OR
32 2018 Pennsylvania - PA
33 2018 Pennsylvania - PA
34 2018 Pennsylvania - PA
35 2018 Puerto Rico - PR
36 2018 Rhode Island - RI
37 2018 Rhode Island - RI
38 2018 Rhode Island - RI
39 2018 Rhode Island - RI
40 2018 South Carolina - SC
41 2018 South Carolina - SC
42 2018 South Dakota - SD
43 2018 Tennessee - TN
44 2018 Tennessee - TN
45 2018 Tennessee - TN
46 2018 Texas - TX
47 2018 Texas - TX
48 2018 Texas - TX
49 2018 Texas - TX
50 2018 Utah - UT
51 2018 Utah - UT
52 2018 Utah - UT
   race_ethnicity                                       count race_prop
1  Hispanic/Latina                                        1   0.007633588
2  White                                                127   0.969465649
3  Black/African American                                13   0.317073171
4  Hispanic/Latina                                        9   0.219512195
5  White                                                 19   0.463414634
6  Black/African American                                 2   0.054054054
7  Hispanic/Latina                                       14   0.378378378
8  Native American                                        3   0.081081081
9  Other                                                  1   0.027027027
10 White                                                 17   0.459459459
11 Asian/Pacific Islander                                 2   0.027027027
12 Black/African American                                20   0.270270270
13 Hispanic/Latina                                        8   0.108108108
14 Multiracial, White/Caucasian, Hispanic/Latina          1   0.013513514
15 White                                                 43   0.581081081
16 Black/African American                                14   0.285714286
17 White                                                 35   0.714285714
18 White                                                 30   1.000000000
19 Asian/Pacific Islander                                 2   0.666666667
20 Unavailable                                            1   0.333333333
21 Black/African American                                12   0.363636364
22 White                                                 21   0.636363636
23 Black/African American                                 1   0.040000000
24 Multiracial, Black/African American, Native American   1   0.040000000
25 Multiracial, White/Caucasian, Asian/Pacific Islander   1   0.040000000
26 Multiracial, White/Caucasian, Native American          1   0.040000000
27 White                                                 21   0.840000000
28 Black/African American                                 2   0.060606061
29 Hispanic/Latina                                        2   0.060606061
30 Native American                                        1   0.030303030
31 White                                                 28   0.848484848
32 Asian/Pacific Islander                                 2   0.039215686
33 Black/African American                                 8   0.156862745
34 White                                                 41   0.803921569
35 Hispanic/Latina                                       15   1.000000000
36 Black/African American                                 1   0.026315789
37 Hispanic/Latina                                        5   0.131578947
38 Multiracial, Black/African American, Hispanic/Latina   1   0.026315789
39 White                                                 31   0.815789474
40 Black/African American                                 9   0.321428571
41 White                                                 19   0.678571429
42 White                                                 26   1.000000000
43 Black/African American                                 7   0.304347826
44 Hispanic/Latina                                        1   0.043478261
45 White                                                 15   0.652173913
46 Asian/Pacific Islander                                 1   0.024390244
47 Black/African American                                11   0.268292683
48 Hispanic/Latina                                       13   0.317073171
49 White                                                 16   0.390243902
50 Asian/Pacific Islander                                 2   0.086956522
51 Black/African American                                 2   0.086956522
52 Hispanic/Latina                                        3   0.130434783

   year state
1  2018 Utah - UT
2  2018 Vermont - VT
3  2018 Vermont - VT
4  2018 Vermont - VT
5  2018 Vermont - VT
6  2018 Virgin Islands - VI
7  2018 Virgin Islands - VI
8  2018 Virginia - VA
9  2018 Virginia - VA
10 2018 Virginia - VA
11 2018 Virginia - VA
12 2018 Virginia - VA
13 2018 Washington - WA
14 2018 Washington - WA
15 2018 Washington - WA
16 2018 Washington - WA
17 2018 West Virginia - WV
18 2018 West Virginia - WV
19 2018 West Virginia - WV
20 2018 Wisconsin - WI
21 2018 Wisconsin - WI
22 2018 Wisconsin - WI
23 2018 Wyoming - WY
24 2018 Wyoming - WY
25   NA NA
26   NA NA
27   NA NA
28   NA NA
29   NA NA
30   NA NA
31   NA NA
32   NA NA
33   NA NA
34   NA NA
35   NA NA
36   NA NA
37   NA NA
38   NA NA
39   NA NA
40   NA NA
41   NA NA
42   NA NA
   race_ethnicity                                             count race_prop
1  White                                                      16    0.69565217
2  Black/African American                                      1    0.01369863
3  Multiracial, White/Caucasian, Hispanic/Latina               1    0.01369863
4  Multiracial, White/Caucasian, Middle Eastern/North African  1    0.01369863
5  White                                                      70    0.95890411
6  Black/African American                                      3    0.60000000
7  Hispanic/Latina                                             2    0.40000000
8  Asian/Pacific Islander                                      1    0.02564103
9  Black/African American                                     11    0.28205128
10 Hispanic/Latina                                             2    0.05128205
11 Multiracial, Hispanic/Latina, Asian/Pacific Islander        1    0.02564103
12 White                                                      24    0.61538462
13 Asian/Pacific Islander                                      6    0.09375000
14 Black/African American                                      1    0.01562500
15 Hispanic/Latina                                             3    0.04687500
16 White                                                      54    0.84375000
17 Black/African American                                      1    0.04545455
18 Hispanic/Latina                                             1    0.04545455
19 White                                                      20    0.90909091
20 Black/African American                                      3    0.08571429
21 Hispanic/Latina                                             2    0.05714286
22 White                                                      30    0.85714286
23 Native American                                             1    0.07692308
24 White                                                      12    0.92307692
25 NA                                                         NA            NA
26 NA                                                         NA            NA
27 NA                                                         NA            NA
28 NA                                                         NA            NA
29 NA                                                         NA            NA
30 NA                                                         NA            NA
31 NA                                                         NA            NA
32 NA                                                         NA            NA
33 NA                                                         NA            NA
34 NA                                                         NA            NA
35 NA                                                         NA            NA
36 NA                                                         NA            NA
37 NA                                                         NA            NA
38 NA                                                         NA            NA
39 NA                                                         NA            NA
40 NA                                                         NA            NA
41 NA                                                         NA            NA
42 NA                                                         NA            NA