In [1]:
## Packages
library(dplyr)
library(stringr)
library(broom)
library(ggplot2)

Warning message:
“package ‘dplyr’ was built under R version 4.0.2”

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”

In [3]:
## Read data in, change path as necessary


elections_2016 <- read.csv("2016_election_results_wide.csv")
elections_2016_long <- read.csv("2016_election_results_long.csv")
elections_2018 <- read.csv("2018_election_results_wide.csv")
elections_2018_long <- read.csv("2018_election_results_long.csv")

In [4]:

elections_2016_long %>%
    filter(candidate_party == "Democrat", gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 

#Democrats running in 2016, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female 1050  0.3736655
2 male   1760  0.6263345

In [5]:

elections_2016_long %>%
    filter(candidate_party == "Republican", gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 


#Republicans running in 2016, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female  605  0.2113906
2 male   2257  0.7886094

In [6]:
elections_2016_long %>%
    filter(gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 

#Overall running in 2016, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female 1655  0.2917842
2 male   4017  0.7082158

In [7]:
elections_2018_long %>%
    filter(candidate_party == "Democrat", gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 

#Democrats running in 2018, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female 2062  0.4605763
2 male   2415  0.5394237

In [8]:
elections_2018_long %>%
    filter(candidate_party == "Republican", gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 
#Republicans running in 2018, numbers by gender

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female  926  0.2164057
2 male   3353  0.7835943

In [9]:
elections_2018_long %>%
    filter(gender %in% c("male", "female"),!candidate == "No candidate") %>%
    group_by (gender) %>%
    summarise (count = n()) %>%
mutate(prop = count/sum(count)) 

#Overall running in 2018, numbers by gender
#run a hypothesis test/regression on the overall numbers? ?

`summarise()` ungrouping output (override with `.groups` argument)

  gender count prop
1 female 2988  0.3412517
2 male   5768  0.6587483

In [10]:
table_dem <- elections_2016_long %>%
    filter(candidate_party == "Democrat", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    group_by (state, .add = TRUE) %>%
    mutate(gender_prop = (count/sum(count)))
           
           
table_dem[1:50,]
table_dem[51:75,]
           
#2016 proportion of dem candidates by gender and state (32.2 percent of candidates in Alaska were female, etc.)
#did this indexing to see the whole thing---easier way??

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state          gender count gender_prop
1  Alaska         female  10   0.3225806
2  Alaska         male    21   0.6774194
3  Arkansas       female  11   0.2391304
4  Arkansas       male    35   0.7608696
5  California     female  22   0.3055556
6  California     male    50   0.6944444
7  Colorado       female  26   0.4482759
8  Colorado       male    32   0.5517241
9  Connecticut    female  41   0.3228346
10 Connecticut    male    86   0.6771654
11 Delaware       female  12   0.3750000
12 Delaware       male    20   0.6250000
13 Florida        female  28   0.3373494
14 Florida        male    55   0.6626506
15 Georgia        female  37   0.4683544
16 Georgia        male    42   0.5316456
17 Hawaii         female  13   0.2765957
18 Hawaii         male    34   0.7234043
19 Idaho          female  21   0.4666667
20 Idaho          male    24   0.5333333
21 Illinois       female  47   0.5222222
22 Illinois       male    43   0.4777778
23 Indiana        female  32   0.3902439
24 Indiana        male    50   0.6097561
25 Iowa           female  38   0.4418605
26 Iowa           male    48   0.5581395
27 Kansas         female  40   0.4545455
28 Kansas         male    48   0.5454545
29 Kentucky       female  17   0.2297297
30 Kentucky       male    57   0.7702703
31 Maine          female  61   0.4357143
32 Maine          male    79   0.5642857
33 Massachusetts  female  34   0.2481752
34 Massachusetts  male   103   0.7518248
35 Michigan       female  40   0.3636364
36 Michigan       male    70   0.6363636
37 Minnesota      female  61   0.4692308
38 Minnesota      male    69   0.5307692
39 Missouri       female  32   0.3333333
40 Missouri       male    64   0.6666667
41 Montana        female  43   0.4777778
42 Montana        male    47   0.5222222
43 Nevada         female  13   0.3714286
44 Nevada         male    22   0.6285714
45 New Mexico     female  21   0.4200000
46 New Mexico     male    29   0.5800000
47 North Carolina female  32   0.3555556
48 North Carolina male    58   0.6444444
49 Ohio           female  27   0.3417722
50 Ohio           male    52   0.6582278

Warning message:
“The `i` argument of ``[.tbl_df`()` must lie in [0, rows] if positive, as of tibble 3.0.0.
Use `NA_integer_` as row index to obtain a row full of `NA` values.
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”

   state          gender count gender_prop
1  Oklahoma       female  22   0.2820513
2  Oklahoma       male    56   0.7179487
3  Oregon         female  21   0.4117647
4  Oregon         male    30   0.5882353
5  Pennsylvania   female  40   0.2702703
6  Pennsylvania   male   108   0.7297297
7  Rhode Island   female  24   0.3428571
8  Rhode Island   male    46   0.6571429
9  South Carolina female  15   0.2419355
10 South Carolina male    47   0.7580645
11 Tennessee      female  26   0.4062500
12 Tennessee      male    38   0.5937500
13 Texas          female  36   0.4137931
14 Texas          male    51   0.5862069
15 Utah           female  23   0.4339623
16 Utah           male    30   0.5660377
17 Washington     female  39   0.5270270
18 Washington     male    35   0.4729730
19 Wisconsin      female  25   0.3246753
20 Wisconsin      male    52   0.6753247
21 Wyoming        female  20   0.4081633
22 Wyoming        male    29   0.5918367
23 NA             NA      NA          NA
24 NA             NA      NA          NA
25 NA             NA      NA          NA

In [11]:
table_rep <- elections_2016_long %>%
    filter(candidate_party == "Republican", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    group_by (state, .add = TRUE) %>%
    mutate(gender_prop = (count/sum(count)))

table_rep[1:50,]
table_rep[51:75,]

#2016 proportion of repub candidates by gender and state

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state          gender count gender_prop
1  Alaska         female  13   0.4193548
2  Alaska         male    18   0.5806452
3  Arkansas       female  18   0.2337662
4  Arkansas       male    59   0.7662338
5  California     female  12   0.1875000
6  California     male    52   0.8125000
7  Colorado       female  17   0.2982456
8  Colorado       male    40   0.7017544
9  Connecticut    female  29   0.2248062
10 Connecticut    male   100   0.7751938
11 Delaware       female   5   0.2173913
12 Delaware       male    18   0.7826087
13 Florida        female  18   0.2000000
14 Florida        male    72   0.8000000
15 Georgia        female  22   0.1732283
16 Georgia        male   105   0.8267717
17 Hawaii         female  11   0.4230769
18 Hawaii         male    15   0.5769231
19 Idaho          female  20   0.3030303
20 Idaho          male    46   0.6969697
21 Illinois       female  18   0.2465753
22 Illinois       male    55   0.7534247
23 Indiana        female  12   0.1428571
24 Indiana        male    72   0.8571429
25 Iowa           female  15   0.1898734
26 Iowa           male    64   0.8101266
27 Kansas         female  24   0.2330097
28 Kansas         male    79   0.7669903
29 Kentucky       female  17   0.2023810
30 Kentucky       male    67   0.7976190
31 Maine          female  30   0.2238806
32 Maine          male   104   0.7761194
33 Massachusetts  female  16   0.3265306
34 Massachusetts  male    33   0.6734694
35 Michigan       female  24   0.2181818
36 Michigan       male    86   0.7818182
37 Minnesota      female  36   0.2748092
38 Minnesota      male    95   0.7251908
39 Missouri       female  25   0.1953125
40 Missouri       male   103   0.8046875
41 Montana        female  18   0.2142857
42 Montana        male    66   0.7857143
43 Nevada         female  12   0.3076923
44 Nevada         male    27   0.6923077
45 New Mexico     female  12   0.2790698
46 New Mexico     male    31   0.7209302
47 North Carolina female  19   0.2159091
48 North Carolina male    69   0.7840909
49 Ohio           female  20   0.2222222
50 Ohio           male    70   0.7777778

   state          gender count gender_prop
1  Oklahoma       female  14   0.15384615
2  Oklahoma       male    77   0.84615385
3  Oregon         female  13   0.27659574
4  Oregon         male    34   0.72340426
5  Pennsylvania   female  30   0.19867550
6  Pennsylvania   male   121   0.80132450
7  Rhode Island   female   6   0.24000000
8  Rhode Island   male    19   0.76000000
9  South Carolina female   7   0.08235294
10 South Carolina male    78   0.91764706
11 Tennessee      female  12   0.14814815
12 Tennessee      male    69   0.85185185
13 Texas          female  14   0.12962963
14 Texas          male    94   0.87037037
15 Utah           female  11   0.15942029
16 Utah           male    58   0.84057971
17 Washington     female  18   0.25352113
18 Washington     male    53   0.74647887
19 Wisconsin      female  13   0.18571429
20 Wisconsin      male    57   0.81428571
21 Wyoming        female   4   0.07272727
22 Wyoming        male    51   0.92727273
23 NA             NA      NA           NA
24 NA             NA      NA           NA
25 NA             NA      NA           NA

In [12]:
table_overall <- elections_2016_long %>%
    filter(gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    group_by (state, .add = TRUE) %>%
    mutate(gender_prop = (count/sum(count)))

table_overall[1:50,]
table_overall[51:75,]

#2016 proportion of overall candidates by gender and state

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state          gender count gender_prop
1  Alaska         female  23   0.3709677
2  Alaska         male    39   0.6290323
3  Arkansas       female  29   0.2357724
4  Arkansas       male    94   0.7642276
5  California     female  34   0.2500000
6  California     male   102   0.7500000
7  Colorado       female  43   0.3739130
8  Colorado       male    72   0.6260870
9  Connecticut    female  70   0.2734375
10 Connecticut    male   186   0.7265625
11 Delaware       female  17   0.3090909
12 Delaware       male    38   0.6909091
13 Florida        female  46   0.2658960
14 Florida        male   127   0.7341040
15 Georgia        female  59   0.2864078
16 Georgia        male   147   0.7135922
17 Hawaii         female  24   0.3287671
18 Hawaii         male    49   0.6712329
19 Idaho          female  41   0.3693694
20 Idaho          male    70   0.6306306
21 Illinois       female  65   0.3987730
22 Illinois       male    98   0.6012270
23 Indiana        female  44   0.2650602
24 Indiana        male   122   0.7349398
25 Iowa           female  53   0.3212121
26 Iowa           male   112   0.6787879
27 Kansas         female  64   0.3350785
28 Kansas         male   127   0.6649215
29 Kentucky       female  34   0.2151899
30 Kentucky       male   124   0.7848101
31 Maine          female  91   0.3321168
32 Maine          male   183   0.6678832
33 Massachusetts  female  50   0.2688172
34 Massachusetts  male   136   0.7311828
35 Michigan       female  64   0.2909091
36 Michigan       male   156   0.7090909
37 Minnesota      female  97   0.3716475
38 Minnesota      male   164   0.6283525
39 Missouri       female  57   0.2544643
40 Missouri       male   167   0.7455357
41 Montana        female  61   0.3505747
42 Montana        male   113   0.6494253
43 Nevada         female  25   0.3378378
44 Nevada         male    49   0.6621622
45 New Mexico     female  33   0.3548387
46 New Mexico     male    60   0.6451613
47 North Carolina female  51   0.2865169
48 North Carolina male   127   0.7134831
49 Ohio           female  47   0.2781065
50 Ohio           male   122   0.7218935

   state          gender count gender_prop
1  Oklahoma       female  36   0.2130178
2  Oklahoma       male   133   0.7869822
3  Oregon         female  34   0.3469388
4  Oregon         male    64   0.6530612
5  Pennsylvania   female  70   0.2341137
6  Pennsylvania   male   229   0.7658863
7  Rhode Island   female  30   0.3157895
8  Rhode Island   male    65   0.6842105
9  South Carolina female  22   0.1496599
10 South Carolina male   125   0.8503401
11 Tennessee      female  38   0.2620690
12 Tennessee      male   107   0.7379310
13 Texas          female  50   0.2564103
14 Texas          male   145   0.7435897
15 Utah           female  34   0.2786885
16 Utah           male    88   0.7213115
17 Washington     female  57   0.3931034
18 Washington     male    88   0.6068966
19 Wisconsin      female  38   0.2585034
20 Wisconsin      male   109   0.7414966
21 Wyoming        female  24   0.2307692
22 Wyoming        male    80   0.7692308
23 NA             NA      NA          NA
24 NA             NA      NA          NA
25 NA             NA      NA          NA

In [13]:
table_dem_2018 <- elections_2018_long %>%
    filter(candidate_party == "Democrat", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    group_by (state, .add = TRUE) %>%
    mutate(gender_prop = (count/sum(count)))
           
           
table_dem_2018[1:50,]
table_dem_2018[51:74,]

#doing the same for 2018

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state         gender count gender_prop
1  Alabama       female  40   0.4444444
2  Alabama       male    50   0.5555556
3  Alaska        female  20   0.4545455
4  Alaska        male    24   0.5454545
5  Arizona       female  45   0.5555556
6  Arizona       male    36   0.4444444
7  Arkansas      female  12   0.3076923
8  Arkansas      male    27   0.6923077
9  California    female  44   0.4000000
10 California    male    66   0.6000000
11 Colorado      female  34   0.5573770
12 Colorado      male    27   0.4426230
13 Connecticut   female  71   0.3922652
14 Connecticut   male   110   0.6077348
15 Delaware      female  16   0.3809524
16 Delaware      male    26   0.6190476
17 Florida       female  49   0.5157895
18 Florida       male    46   0.4842105
19 Georgia       female  81   0.5436242
20 Georgia       male    68   0.4563758
21 Hawaii        female  10   0.4000000
22 Hawaii        male    15   0.6000000
23 Idaho         female  26   0.4406780
24 Idaho         male    33   0.5593220
25 Illinois      female  68   0.4892086
26 Illinois      male    71   0.5107914
27 Indiana       female  42   0.4038462
28 Indiana       male    62   0.5961538
29 Iowa          female  57   0.4871795
30 Iowa          male    60   0.5128205
31 Kansas        female  34   0.3820225
32 Kansas        male    55   0.6179775
33 Kentucky      female  50   0.4716981
34 Kentucky      male    56   0.5283019
35 Louisiana     female   2   0.6666667
36 Louisiana     male     1   0.3333333
37 Maine         female  86   0.5088757
38 Maine         male    83   0.4911243
39 Maryland      female  19   0.4418605
40 Maryland      male    24   0.5581395
41 Massachusetts female  59   0.3224044
42 Massachusetts male   124   0.6775956
43 Michigan      female  74   0.5000000
44 Michigan      male    74   0.5000000
45 Missouri      female  68   0.4223602
46 Missouri      male    93   0.5776398
47 Montana       female  53   0.5196078
48 Montana       male    49   0.4803922
49 Nevada        female  31   0.6595745
50 Nevada        male    16   0.3404255

   state          gender count gender_prop
1  New Hampshire  female 192   0.4740741
2  New Hampshire  male   213   0.5259259
3  New Mexico     female  29   0.5178571
4  New Mexico     male    27   0.4821429
5  New York       female  68   0.3820225
6  New York       male   110   0.6179775
7  North Carolina female  55   0.4621849
8  North Carolina male    64   0.5378151
9  Ohio           female  52   0.4642857
10 Ohio           male    60   0.5357143
11 Oklahoma       female  41   0.4767442
12 Oklahoma       male    45   0.5232558
13 Oregon         female  39   0.5342466
14 Oregon         male    34   0.4657534
15 Pennsylvania   female  82   0.4226804
16 Pennsylvania   male   112   0.5773196
17 Rhode Island   female  41   0.3904762
18 Rhode Island   male    64   0.6095238
19 South Carolina female  19   0.5000000
20 South Carolina male    19   0.5000000
21 South Dakota   female  41   0.4183673
22 South Dakota   male    57   0.5816327
23 Tennessee      female  35   0.3535354
24 Tennessee      male    64   0.6464646

In [14]:
table_rep_2018 <- elections_2018_long %>%
    filter(candidate_party == "Democrat", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    group_by (state, .add = TRUE) %>%
    mutate(gender_prop = (count/sum(count)))
           
           
table_rep_2018[1:50,]
table_rep_2018[51:74,]

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state         gender count gender_prop
1  Alabama       female  40   0.4444444
2  Alabama       male    50   0.5555556
3  Alaska        female  20   0.4545455
4  Alaska        male    24   0.5454545
5  Arizona       female  45   0.5555556
6  Arizona       male    36   0.4444444
7  Arkansas      female  12   0.3076923
8  Arkansas      male    27   0.6923077
9  California    female  44   0.4000000
10 California    male    66   0.6000000
11 Colorado      female  34   0.5573770
12 Colorado      male    27   0.4426230
13 Connecticut   female  71   0.3922652
14 Connecticut   male   110   0.6077348
15 Delaware      female  16   0.3809524
16 Delaware      male    26   0.6190476
17 Florida       female  49   0.5157895
18 Florida       male    46   0.4842105
19 Georgia       female  81   0.5436242
20 Georgia       male    68   0.4563758
21 Hawaii        female  10   0.4000000
22 Hawaii        male    15   0.6000000
23 Idaho         female  26   0.4406780
24 Idaho         male    33   0.5593220
25 Illinois      female  68   0.4892086
26 Illinois      male    71   0.5107914
27 Indiana       female  42   0.4038462
28 Indiana       male    62   0.5961538
29 Iowa          female  57   0.4871795
30 Iowa          male    60   0.5128205
31 Kansas        female  34   0.3820225
32 Kansas        male    55   0.6179775
33 Kentucky      female  50   0.4716981
34 Kentucky      male    56   0.5283019
35 Louisiana     female   2   0.6666667
36 Louisiana     male     1   0.3333333
37 Maine         female  86   0.5088757
38 Maine         male    83   0.4911243
39 Maryland      female  19   0.4418605
40 Maryland      male    24   0.5581395
41 Massachusetts female  59   0.3224044
42 Massachusetts male   124   0.6775956
43 Michigan      female  74   0.5000000
44 Michigan      male    74   0.5000000
45 Missouri      female  68   0.4223602
46 Missouri      male    93   0.5776398
47 Montana       female  53   0.5196078
48 Montana       male    49   0.4803922
49 Nevada        female  31   0.6595745
50 Nevada        male    16   0.3404255

   state          gender count gender_prop
1  New Hampshire  female 192   0.4740741
2  New Hampshire  male   213   0.5259259
3  New Mexico     female  29   0.5178571
4  New Mexico     male    27   0.4821429
5  New York       female  68   0.3820225
6  New York       male   110   0.6179775
7  North Carolina female  55   0.4621849
8  North Carolina male    64   0.5378151
9  Ohio           female  52   0.4642857
10 Ohio           male    60   0.5357143
11 Oklahoma       female  41   0.4767442
12 Oklahoma       male    45   0.5232558
13 Oregon         female  39   0.5342466
14 Oregon         male    34   0.4657534
15 Pennsylvania   female  82   0.4226804
16 Pennsylvania   male   112   0.5773196
17 Rhode Island   female  41   0.3904762
18 Rhode Island   male    64   0.6095238
19 South Carolina female  19   0.5000000
20 South Carolina male    19   0.5000000
21 South Dakota   female  41   0.4183673
22 South Dakota   male    57   0.5816327
23 Tennessee      female  35   0.3535354
24 Tennessee      male    64   0.6464646

In [15]:
table_overall_2018 <- elections_2018_long %>%
    filter(candidate_party == "Democrat", gender %in% c("female", "male"),!candidate == "No candidate") %>%
    group_by (state, gender) %>%
    summarise(count=n()) %>%
    group_by (state, .add = TRUE) %>%
    mutate(gender_prop = (count/sum(count)))
           
           
table_overall_2018[1:50,]
table_overall_2018[51:74,]

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state         gender count gender_prop
1  Alabama       female  40   0.4444444
2  Alabama       male    50   0.5555556
3  Alaska        female  20   0.4545455
4  Alaska        male    24   0.5454545
5  Arizona       female  45   0.5555556
6  Arizona       male    36   0.4444444
7  Arkansas      female  12   0.3076923
8  Arkansas      male    27   0.6923077
9  California    female  44   0.4000000
10 California    male    66   0.6000000
11 Colorado      female  34   0.5573770
12 Colorado      male    27   0.4426230
13 Connecticut   female  71   0.3922652
14 Connecticut   male   110   0.6077348
15 Delaware      female  16   0.3809524
16 Delaware      male    26   0.6190476
17 Florida       female  49   0.5157895
18 Florida       male    46   0.4842105
19 Georgia       female  81   0.5436242
20 Georgia       male    68   0.4563758
21 Hawaii        female  10   0.4000000
22 Hawaii        male    15   0.6000000
23 Idaho         female  26   0.4406780
24 Idaho         male    33   0.5593220
25 Illinois      female  68   0.4892086
26 Illinois      male    71   0.5107914
27 Indiana       female  42   0.4038462
28 Indiana       male    62   0.5961538
29 Iowa          female  57   0.4871795
30 Iowa          male    60   0.5128205
31 Kansas        female  34   0.3820225
32 Kansas        male    55   0.6179775
33 Kentucky      female  50   0.4716981
34 Kentucky      male    56   0.5283019
35 Louisiana     female   2   0.6666667
36 Louisiana     male     1   0.3333333
37 Maine         female  86   0.5088757
38 Maine         male    83   0.4911243
39 Maryland      female  19   0.4418605
40 Maryland      male    24   0.5581395
41 Massachusetts female  59   0.3224044
42 Massachusetts male   124   0.6775956
43 Michigan      female  74   0.5000000
44 Michigan      male    74   0.5000000
45 Missouri      female  68   0.4223602
46 Missouri      male    93   0.5776398
47 Montana       female  53   0.5196078
48 Montana       male    49   0.4803922
49 Nevada        female  31   0.6595745
50 Nevada        male    16   0.3404255

   state          gender count gender_prop
1  New Hampshire  female 192   0.4740741
2  New Hampshire  male   213   0.5259259
3  New Mexico     female  29   0.5178571
4  New Mexico     male    27   0.4821429
5  New York       female  68   0.3820225
6  New York       male   110   0.6179775
7  North Carolina female  55   0.4621849
8  North Carolina male    64   0.5378151
9  Ohio           female  52   0.4642857
10 Ohio           male    60   0.5357143
11 Oklahoma       female  41   0.4767442
12 Oklahoma       male    45   0.5232558
13 Oregon         female  39   0.5342466
14 Oregon         male    34   0.4657534
15 Pennsylvania   female  82   0.4226804
16 Pennsylvania   male   112   0.5773196
17 Rhode Island   female  41   0.3904762
18 Rhode Island   male    64   0.6095238
19 South Carolina female  19   0.5000000
20 South Carolina male    19   0.5000000
21 South Dakota   female  41   0.4183673
22 South Dakota   male    57   0.5816327
23 Tennessee      female  35   0.3535354
24 Tennessee      male    64   0.6464646